<!--
  Generated template for the SortModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="modal sort-modal value-modal">
  <div (click)="dismiss()" class="modal__overlay"></div>
  <div class="modal__grid value-modal__grid">
    <header class="sort-modal__header value-modal__header">
      <button type="button" (click)="dismiss()" class="value-modal__btn value-modal__btn-cancel">Cancel</button>
      <p class="title title_styled">Sort</p>
      <button type="button" (click)="dismiss()" class="value-modal__btn value-modal__btn-confirm">Done</button>
    </header>
    <div class="sort-modal__grid">
      <!-- Begin item -->
      <div class="list-field filter-list__item">
        <p class="list-field__name filter-list__name">Relevance</p>
        <div class="list-field__icon filter-list__icon">
          <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
            />
          </svg>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="list-field filter-list__item">
        <p class="list-field__name filter-list__name">The newest</p>
        <div class="list-field__icon filter-list__icon">
          <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
            />
          </svg>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="list-field filter-list__item">
        <p class="list-field__name filter-list__name">Lowest Price</p>
        <div class="list-field__icon filter-list__icon">
          <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
            />
          </svg>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="list-field filter-list__item">
        <p class="list-field__name filter-list__name">Highest Price</p>
        <div class="list-field__icon filter-list__icon">
          <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
            />
          </svg>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="list-field filter-list__item">
        <p class="list-field__name filter-list__name">Views</p>
        <div class="list-field__icon filter-list__icon">
          <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
            />
          </svg>
        </div>
      </div>
      <!-- End item -->
    </div>
  </div>
</div>
