<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="template-header">
    <div class="template-header__grid">
      <div class="template-header__icon">
        <svg width="33" height="31" viewBox="0 0 33 31" fill="none">
          <path d="M2.71621 12.6518L0.0075328 0.218599C-0.0306382 0.0371521 0.0802055 -0.0473274 0.250507 0.0268676L14.8737 6.08221C15.041 6.1542 15.0469 6.2879 14.884 6.37238L2.71988 12.6518H2.71621Z"
            transform="translate(1.85986)" fill="white" />
          <path d="M15.779 17.2306L19.091 0.297958C19.1402 0.0364388 18.9912 -0.0730172 18.7607 0.051131L0.175808 9.84782C-0.0598244 9.96756 -0.0583523 10.1659 0.178749 10.2893L15.7848 17.2306H15.779Z"
            transform="translate(11.2383 5.2876)" fill="white" />
          <path d="M32.8601 14.8701L0.28995 0.0325874C0.0910197 -0.0562998 -0.0337666 0.0428719 0.00807476 0.254438L2.44368 12.8132C3.01258 15.0332 3.01258 15.0332 5.92972 15.0332H8.36239V9.26216L12.5737 11.1831V15.0332H32.8242C33.0444 15.0332 33.0591 14.959 32.8609 14.8701H32.8601Z"
            transform="translate(0 15.9668)" fill="white" />
        </svg>
      </div>
      <div class="search template-header__search">
        <form class="form search__form">
          <input class="search__input" type="text" name="s" [(ngModel)]="searchInput" placeholder="Search">
          <i class="icon icon-search">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M10.1689 10.4722C11.4172 9.37357 12.2027 7.777 12.2027 6C12.2027 2.68629 9.47103 0 6.10135 0C2.73167 0 0 2.68629 0 6C0 9.31371 2.73167 12 6.10135 12C7.66402 12 9.08948 11.4223 10.1689 10.4722ZM10.1689 10.4722L15.7901 16"
                transform="translate(1.20264 1)" stroke="white" />
            </svg>
          </i>
        </form>
        <!-- Begin suggestions -->
        <div style="display: none;" class="search-suggestions">
          <div class="search-suggestions__overlay"></div>
          <div class="search-suggestions__grid">
            <header class="search-suggestions__header">Property type</header>
            <div class="search-suggestions__content">
              <p class="search-suggestions__value">Villa</p>
              <p class="search-suggestions__value">Holliday Villa</p>
            </div>
          </div>
        </div>
        <!-- End suggestions -->
      </div>
      <button type="button" class="menu-btn template-header__btn" menuToggle>
        <svg width="26" height="18" viewBox="0 0 26 18" fill="none">
          <rect width="26" height="2" rx="1" fill="white" />
          <rect width="26" height="2" rx="1" transform="translate(0 8)" fill="white" />
          <rect width="26" height="2" rx="1" transform="translate(0 16)" fill="white" />
        </svg>
        <p class="notifications menu-btn__notifications">15</p>
      </button>
    </div>
  </div>
  <div class="list-options">
    <button (click)="showSortModal()" type="button" class="list-options__btn">
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 0V12.5M3 0L0 3M3 0L6 3" transform="translate(1 1.5)" stroke="#0636B5" />
        <path d="M3 0V12.5M3 0L0 3M3 0L6 3" transform="translate(14 13.5) rotate(180)" stroke="#0636B5" />
      </svg>
      Relevance
    </button>
    <button (click)="showFilterModal()" type="button" class="list-options__btn">
      <div class="list-options__counter">{{ filters }}</div>
      Filter
    </button>
  </div>
</ion-header>
<ion-content>
  <div class="list-wrapper">
    <!-- Begin item -->
    <div *ngFor="let item of items" class="list-item" (click)="pushPage()">
      <div class="list-item__header">
        <ion-slides pager loop>
          <!-- Begin slide -->
          <ion-slide *ngFor="let image of item.images">
            <img class="list-item__img" src="{{ image.url }}">
          </ion-slide>
          <!-- End slide -->
        </ion-slides>
        <div class="list-item__options">
          <button type="button" class="list-item__options-btn">
            <svg width="27" height="27" viewBox="0 0 27 27" fill="none">
              <circle cx="13.5" cy="13.5" r="13" stroke="white" />
              <path d="M3 11V0M3 0L0 3M3 0L6 3" transform="translate(8 20) rotate(-90)" stroke="white" stroke-linecap="round" stroke-linejoin="round"
              />
              <path d="M3 10.5V0M3 0L0 3M3 0L6 3" transform="translate(18.5 7) rotate(90)" stroke="white" stroke-linecap="round" stroke-linejoin="round"
              />
            </svg>
          </button>
          <button type="button" class="list-item__options-btn">
            <svg width="27" height="26" viewBox="0 0 27 26" fill="none">
              <path d="M14.0245 1.46353C14.1741 1.00287 14.8259 1.00287 14.9755 1.46353L17.6432 9.67376C17.7101 9.87977 17.9021 10.0193 18.1187 10.0193L26.7515 10.0193C27.2358 10.0193 27.4372 10.6391 27.0454 10.9238L20.0613 15.998C19.8861 16.1253 19.8128 16.351 19.8797 16.557L22.5474 24.7672C22.697 25.2279 22.1698 25.6109 21.7779 25.3262L14.7939 20.252C14.6186 20.1247 14.3814 20.1247 14.2061 20.252L7.22206 25.3262C6.83021 25.6109 6.30297 25.2279 6.45264 24.7672L9.12031 16.557C9.18725 16.351 9.11392 16.1253 8.93867 15.998L1.95463 10.9238C1.56277 10.6391 1.76416 10.0193 2.24852 10.0193L10.8813 10.0193C11.0979 10.0193 11.2899 9.87977 11.3568 9.67376L14.0245 1.46353Z"
                transform="translate(-1)" stroke="white" />
            </svg>
          </button>
        </div>
      </div>
      <div class="list-item__info">
        <p class="list-item__label">{{ item.type }} · {{ item.note }}</p>
        <p class="list-item__title">{{ item.name }}</p>
        <div class="list-item__desc">
          <p class="list-item__desc-item">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
              <path d="M18 9.94118H18.5C18.5 9.66503 18.2761 9.44118 18 9.44118V9.94118ZM0.5 0C0.5 -0.276142 0.276142 -0.5 0 -0.5C-0.276142 -0.5 -0.5 -0.276142 -0.5 0H0.5ZM3 6.88235H2.5C2.5 7.1585 2.72386 7.38235 3 7.38235V6.88235ZM6 6.88235V7.38235H6.5V6.88235H6ZM6 5.35294H6.5C6.5 5.0768 6.27614 4.85294 6 4.85294V5.35294ZM3 5.35294V4.85294C2.72386 4.85294 2.5 5.0768 2.5 5.35294H3ZM18 7.38235C18.2761 7.38235 18.5 7.1585 18.5 6.88235C18.5 6.60621 18.2761 6.38235 18 6.38235V7.38235ZM0.5 13V9.94118H-0.5V13H0.5ZM0 10.4412H18V9.44118H0V10.4412ZM17.5 9.94118V13H18.5V9.94118H17.5ZM0.5 9.94118V0H-0.5V9.94118H0.5ZM3 7.38235H6V6.38235H3V7.38235ZM6.5 6.88235V5.35294H5.5V6.88235H6.5ZM6 4.85294H3V5.85294H6V4.85294ZM2.5 5.35294V6.88235H3.5V5.35294H2.5ZM8.25 7.38235H18V6.38235H8.25V7.38235Z"
                transform="translate(1 1)" fill="#0F2355" fill-opacity="0.5" />
            </svg>
            {{ item.bedRooms }}
          </p>
          <p class="list-item__desc-item">
              <svg width="18" height="15" viewBox="0 0 18 15" fill="none">
                <g opacity="0.5">
                <mask id="path-1-inside-1" fill="white">
                <path d="M0 1C0 0.447715 0.447715 0 1 0H3C3.55228 0 4 0.447715 4 1H0Z"/>
                </mask>
                <path d="M1 1H3V-1H1V1ZM4 0H0V2H4V0ZM3 1H5C5 -0.104569 4.10457 -1 3 -1V1ZM1 -1C-0.104569 -1 -1 -0.104569 -1 1H1V-1Z" transform="translate(6 3)" fill="#0F2355" mask="url(#path-1-inside-1)"/>
                <path d="M0.5 1.5C0.5 0.947715 0.947715 0.5 1.5 0.5H14.5C15.0523 0.5 15.5 0.947715 15.5 1.5C15.5 3.70914 13.7091 5.5 11.5 5.5H4.5C2.29086 5.5 0.5 3.70914 0.5 1.5Z" transform="translate(1 7)" stroke="#0F2355" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M0.642857 0L0 1.27273" transform="translate(3.21436 12.7273)" stroke="#0F2355" stroke-linecap="round" stroke-linejoin="round"/>
                <rect x="0.25" y="0.25" width="17.5" height="0.5" rx="0.25" transform="translate(0 7)" stroke="#0F2355" stroke-width="0.5"/>
                <path d="M1.74756e-08 6C1.74756e-08 6 0.000125717 4.27452 1.74756e-08 2.4C-0.000120685 0.6 0.625 0 2.5 0C4.375 0 5 1.2 5 2.4" transform="translate(3 1)" stroke="#0F2355"/>
                <path d="M0.642857 0L0 1.27273" transform="translate(14.7856 12.7273) scale(-1 1)" stroke="#0F2355" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
              </svg>  
              {{ item.bathRooms }}
          </p>
          <p class="list-item__desc-item">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
                <g opacity="0.5">
                <path d="M0 3.5V0H3.5" transform="translate(0.5 0.5)" stroke="#0F2355"/>
                <path d="M0 3.5V0H3.5" transform="translate(9.5 0.5) rotate(90)" stroke="#0F2355"/>
                <path d="M0 3.5V0H3.5" transform="translate(9.5 9.5) rotate(180)" stroke="#0F2355"/>
                <path d="M0 3.5V0H3.5" transform="translate(0.5 9.5) rotate(-90)" stroke="#0F2355"/>
                </g>
              </svg>                
              {{ item.area }} м<sup>2</sup>
          </p>
        </div>
        <p class="list-item__price">{{ item.price }} <span>sar</span></p>
      </div>
    </div>
    <!-- End item -->
  </div>
</ion-content>
<ion-footer>
  <div class="tabs">
    <div class="tabs__item tabs__item_actived">
      <div class="tabs__icon">
        <svg width="25" height="13" viewBox="0 0 25 13" fill="none">
          <rect width="25" height="1" rx="0.5" fill="#0F1A34" fill-opacity="0.3"/>
          <rect width="25" height="1" rx="0.5" transform="translate(0 6)" fill="#0F1A34" fill-opacity="0.3"/>
          <rect width="25" height="1" rx="0.5" transform="translate(0 12)" fill="#0F1A34" fill-opacity="0.3"/>
        </svg>          
      </div>
      <p class="tabs__name">List</p>
    </div>
    <div class="tabs__item" (click)="openMapPage()">
      <div class="tabs__icon">
        <svg width="16" height="22" viewBox="0 0 16 22" fill="none">
          <path d="M15.5 8C15.5 8.98252 15.046 10.322 14.3016 11.8302C13.5658 13.321 12.5798 14.9118 11.5862 16.3761C10.5939 17.8387 9.60059 19.1656 8.85486 20.1275C8.50729 20.5757 8.21391 20.9442 8 21.2095C7.78609 20.9442 7.49271 20.5757 7.14514 20.1275C6.39941 19.1656 5.4061 17.8387 4.41375 16.3761C3.42021 14.9118 2.43415 13.321 1.69836 11.8302C0.953992 10.322 0.5 8.98252 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z"
            stroke="#0F1A34" stroke-opacity="0.3" />
          <circle cx="3" cy="3" r="2.5" transform="translate(5 5)" stroke="#0F1A34" stroke-opacity="0.3" />
        </svg>
      </div>
      <p class="tabs__name">Map</p>
    </div>
    <div class="tabs__item" (click)="openDirectoryPage()">
      <div class="tabs__icon">
        <svg width="25" height="13" viewBox="0 0 25 13" fill="none">
          <rect width="18" height="1" rx="0.5" transform="translate(7)" fill="#0F1A34" fill-opacity="0.3" />
          <rect width="18" height="1" rx="0.5" transform="translate(7 6)" fill="#0F1A34" fill-opacity="0.3" />
          <rect width="18" height="1" rx="0.5" transform="translate(7 12)" fill="#0F1A34" fill-opacity="0.3" />
          <rect width="5" height="1" rx="0.5" fill="#0F1A34" fill-opacity="0.3" />
          <rect width="5" height="1" rx="0.5" transform="translate(0 6)" fill="#0F1A34" fill-opacity="0.3" />
          <rect width="5" height="1" rx="0.5" transform="translate(0 12)" fill="#0F1A34" fill-opacity="0.3" />
        </svg>
      </div>
      <p class="tabs__name">Directory</p>
    </div>
  </div>
</ion-footer>
