<!--
  Generated template for the PropertyModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="property-modal">
  <ion-header>
    <header class="template-header property-modal__header">
      <button type="button" class="property-modal__btn property-modal__btn-cancel" (click)="dismiss()">Cancel</button>
      <p class="title">{{ propertyData.name }}</p>
      <button type="button" class="property-modal__btn property-modal__btn-confirm" (click)="dismiss()">Done</button>
    </header>
  </ion-header>
  <ion-content>
    <div class="propery-modal__grid">
      <div class="property-list">
        <!-- Begin section -->
        <div *ngFor="let item of propertyData.items" class="property-list__section">
          <header *ngIf="item.title" class="property-list__header">{{ item.title }}</header>
          <div class="property-list__content">
            <div *ngFor="let list of item.list" (click)="getPropertyValue(list)" [ngClass]="{'property-list__item_active': list.active}" class="property-list__item">
              <p class="property-list__name">{{ list.name }}</p>
              <div class="property-list__icon">
                <svg width="13" height="10" viewBox="0 0 13 10" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.535 0L4.23987 7.09974L1.444 4.42934L0 5.89946L4.19681 10H4.21484L13 1.44014L11.535 0Z"
                    transform="translate(0 0.000488281)" fill="#CDCDCD" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- End section -->
      </div>
    </div>
  </ion-content>
  <ion-footer>
      <button (click)="dismiss()" type="button" class="modal__btn btn-confirm">done</button>
  </ion-footer>
</div>
