.property-modal{
    background: $white-color;
    height: 100%;
    &__header{
        @include flex(row, center, space-between);
        padding: 12px 15px;
    }
    &__btn{
        font-size: 17px;
        color: $white-color;
        @include font-weight('light');
        &-cancel{
            color: rgba($white-color, .5);
        }
    }
}

.ios{
    & .property-modal{
        &__header{
            padding-top: 32px;
        }
    }
}
