<!--
  Generated template for the FilterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="modal filter-modal">
  <div (click)="dismiss()" class="modal__overlay"></div>
  <div class="modal__grid filter-modal__wrapper">
    <ion-header>
      <header class="filter-modal__header">
        <p class="modal__title filter-modal__title">Filter</p>
        <button (click)="dismiss()" type="button" class="modal__close">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path opacity="0.5" d="M0 0L7 7M14 14L7 7M7 7L14 0L0 14" transform="translate(1.5 1.5)" stroke="#0F2355" stroke-width="2"
            />
          </svg>
        </button>
      </header>
      <div class="filter-modal__choice">
        <div class="choice-option choice-option_styled">
          <label class="choice-option__item choice-option__item_styled">
            <input checked type="radio" name="choice" class="choice-option__input">
            <p class="choice-option__title choice-option__title_styled">Sell</p>
            <div class="choice-option__effect"></div>
          </label>
          <label class="choice-option__item choice-option__item_styled">
            <input type="radio" name="choice" class="choice-option__input">
            <p class="choice-option__title choice-option__title_styled">Rent</p>
            <div class="choice-option__effect"></div>
          </label>
        </div>
      </div>
    </ion-header>
    <ion-content class="filter-modal__grid">
      <div class="filter-list">
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showLocationModal()">
          <p class="list-field__name filter-list__name">Location</p>
          <p class="filter-list__value">
            <span>Riyadh</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showPropertyModal(0)">
          <p class="list-field__name filter-list__name">Province</p>
          <p class="filter-list__value">
            <span>Al Bahah,</span>
            <span>Al Jowf</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showPropertyModal(1)">
          <p class="list-field__name filter-list__name">Property Type</p>
          <p class="filter-list__value">
            <span>Apartment,</span>
            <span>Villa</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showRangeModal(0)">
          <p class="list-field__name filter-list__name">Price</p>
          <p class="filter-list__value">
            <span>SAR 1,000,000 - SAR 2,000,000</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showRangeModal(1)">
          <p class="list-field__name filter-list__name">Area</p>
          <p class="filter-list__value">
            <span>150 m
              <sup>2</sup> - 200 m
              <sup>2</sup>
            </span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showSelectModal(0)">
          <p class="list-field__name filter-list__name">Bebrooms</p>
          <p class="filter-list__value">
            <span>2 - 4</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showSelectModal(1)">
          <p class="list-field__name filter-list__name">Bathrooms</p>
          <p class="filter-list__value">
            <span>2 - 4</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showSelectModal(2)">
          <p class="list-field__name filter-list__name">Property Age</p>
          <p class="filter-list__value">
            <span>2010 - 2016</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showSelectModal(3)">
          <p class="list-field__name filter-list__name">Garage Size</p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showPropertyFModal()">
          <p class="list-field__name filter-list__name">Property Finalizing</p>
          <p class="filter-list__value">
            <span>Normal finalizing</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showSelectModal(4)">
          <p class="list-field__name filter-list__name">Streets binding</p>
          <p class="filter-list__value">
            <span>2</span>
          </p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field filter-list__item" (click)="showPropertyModal(2)">
          <p class="list-field__name filter-list__name">Features</p>
          <div class="list-field__icon filter-list__icon">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
              <path opacity="0.2" d="M0 0L7.5 7.5L15 0" transform="translate(0.75 16.25) rotate(-90)" stroke="#0F2355" stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="list-field list-field_styled filter-list__item filter-list__item_styled">
          <p class="list-field__name filter-list__name">Only with photo</p>
          <p class="checkbox-ui">
            <ion-toggle checked="false"></ion-toggle>
          </p>
        </div>
        <!-- End item -->
      </div>
    </ion-content>
    <ion-footer>
      <footer class="filter-modal__footer">
        <button (click)="openPage()" type="button" class="modal__btn btn-confirm filter-modal__btn">show 300 options</button>
      </footer>
    </ion-footer>
  </div>
</div>
