.home {
    background: image('home-bg.jpg') no-repeat center center;
    background-size: cover;
    &__template {
    @include flex(column, stretch, center);
    height: 100%;
}
&__header{
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
&__title{
      margin: 0;
      text-align: center;
      font-size: 17px;
      color: #1144CA;
      text-transform: uppercase;
      margin-top: 30px;
      line-height: 1.35;
      & span{
          display: block;
          @include font-weight('bold');
          font-size: 16px;
      }
  }
  &__form{
      margin-top: auto;
  }
}
