<ion-header class="template-header">
  <div class="template-header__grid">
    <div class="search template-header__search">
      <form class="form search__form">
        <input class="search__input" type="text" name="s" [(ngModel)]="searchInput" placeholder="Search">
        <i class="icon icon-search">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M10.1689 10.4722C11.4172 9.37357 12.2027 7.777 12.2027 6C12.2027 2.68629 9.47103 0 6.10135 0C2.73167 0 0 2.68629 0 6C0 9.31371 2.73167 12 6.10135 12C7.66402 12 9.08948 11.4223 10.1689 10.4722ZM10.1689 10.4722L15.7901 16"
              transform="translate(1.20264 1)" stroke="white" />
          </svg>
        </i>
      </form>
      <!-- Begin suggestions -->
      <div style="display: none;" class="search-suggestions">
        <div class="search-suggestions__overlay"></div>
        <div class="search-suggestions__grid">
          <header class="search-suggestions__header">Property type</header>
          <div class="search-suggestions__content">
            <p class="search-suggestions__value">Villa</p>
            <p class="search-suggestions__value">Holliday Villa</p>
          </div>
        </div>
      </div>
      <!-- End suggestions -->
    </div>
    <button type="button" class="menu-btn template-header__btn" menuToggle>
      <svg width="26" height="18" viewBox="0 0 26 18" fill="none">
        <rect width="26" height="2" rx="1" fill="white" />
        <rect width="26" height="2" rx="1" transform="translate(0 8)" fill="white" />
        <rect width="26" height="2" rx="1" transform="translate(0 16)" fill="white" />
      </svg>
      <p class="notifications menu-btn__notifications">15</p>
    </button>
  </div>
</ion-header>

<ion-content class="home">
  <div class="home__template">
    <div class="home__header">
      <div class="logo">
        <svg width="130" height="43" viewBox="0 0 130 43" fill="none">
          <path d="M3.70026 17.2226L0.0102619 0.297574C-0.0417381 0.0505743 0.109263 -0.0644257 0.341263 0.0365743L20.2623 8.27957C20.4903 8.37757 20.4983 8.55958 20.2763 8.67457L3.70526 17.2226H3.70026Z"
            transform="translate(87.0188 0.029541)" fill="url(#paint0_linear)" />
          <path d="M21.4955 23.4556L26.0075 0.405603C26.0745 0.0496033 25.8715 -0.0993966 25.5575 0.0696034L0.239502 13.4056C-0.0814982 13.5686 -0.0794928 13.8386 0.243507 14.0066L21.5035 23.4556H21.4955Z"
            transform="translate(99.7944 7.22729)" fill="url(#paint1_linear)" />
          <path d="M44.765 20.2424L0.394995 0.0443604C0.123995 -0.0766396 -0.0459998 0.0583605 0.0110002 0.34636L3.329 17.4424C4.104 20.4644 4.104 20.4644 8.078 20.4644H11.392V12.6084L17.129 15.2234V20.4644H44.716C45.016 20.4644 45.036 20.3634 44.766 20.2424H44.765Z"
            transform="translate(84.4851 21.7646)" fill="url(#paint2_linear)" />
          <path d="M3.444 0H0V16.87H3.444V0Z" transform="translate(65.387)" fill="url(#paint3_linear)" />
          <path d="M6.032 9.18V1.14441e-08H2.584V9.324C2.584 10.76 1.435 11.908 3.66211e-07 11.908V15.208C3.338 15.209 6.032 12.519 6.032 9.18Z"
            transform="translate(70.041 7.01294)" fill="url(#paint4_linear)" />
          <path d="M3.444 0H0V3.3H3.444V0Z" transform="translate(30.625 18.9209)" fill="url(#paint5_linear)" />
          <path d="M30.514 -1.14441e-08H25.327V3.228H30.514C33.528 3.228 35.825 5.85 35.825 8.9C35.825 9.949 35.541 10.933 35.051 11.778H32.047C32.45 11.062 32.761 10.269 32.761 9.438C32.761 6.452 30.37 3.898 27.34 3.898C24.354 3.898 21.922 6.452 21.922 9.438C21.922 10.27 22.222 11.063 22.615 11.778H17.468V2.718H14.022V11.778H6.032C4.594 11.778 3.445 10.556 3.445 9.121V2.719H8.39233e-07V9.154C8.39233e-07 12.493 2.69 15.009 6.032 15.009H36.968C38.496 13.422 39.45 11.277 39.45 8.901C39.45 3.948 35.394 -1.14441e-08 30.514 -1.14441e-08ZM27.342 12.086C25.495 12.086 24.585 10.94 24.585 9.393C24.585 7.841 25.82 6.585 27.342 6.585C28.867 6.585 30.103 7.84 30.103 9.393C30.103 10.94 29.056 12.086 27.342 12.086Z"
            transform="translate(23.2451 1.86206)" fill="url(#paint6_linear)" />
          <path d="M3.439 0H2.68555e-06V3.296H3.439V0Z" transform="translate(72.634 1.85889)" fill="url(#paint7_linear)" />
          <path d="M6.039 -3.96729e-07C2.695 -3.96729e-07 3.05176e-08 2.694 3.05176e-08 6.039V17.214H3.451V11.911H8.625V17.214H12.077V6.039C12.077 2.694 9.382 -3.96729e-07 6.039 -3.96729e-07ZM8.625 8.852H3.451V5.893C3.451 4.455 4.601 3.306 6.039 3.306C7.475 3.306 8.625 4.454 8.625 5.893V8.852Z"
            transform="translate(26.3679 24.9661)" fill="url(#paint8_linear)" />
          <path d="M9.036 6.486H3.451V1.06812e-07H4.57764e-07V16.892H3.451V9.503H9.036V16.892H12.488V1.06812e-07H9.036V6.486Z" transform="translate(41.145 25.2881)"
            fill="url(#paint9_linear)" />
          <path d="M3.451 0H0V16.892H3.451V0Z" transform="translate(56.99 25.2881)" fill="url(#paint10_linear)" />
          <path d="M9.972 7.907C10.833 7.149 11.732 6.073 11.732 4.526C11.732 1.94 9.647 1.06812e-07 7.169 1.06812e-07H-6.10352e-07V16.892H7.275C9.972 16.892 12.308 14.627 12.308 11.895C12.308 10.098 11.3 8.624 9.972 7.907ZM3.447 3.162H6.376C7.312 3.162 8.066 3.917 8.066 4.814C8.066 5.714 7.311 6.468 6.376 6.468H3.447V3.162ZM6.519 13.656H3.447V9.557H6.519C7.634 9.557 8.534 10.494 8.534 11.608C8.534 12.759 7.634 13.656 6.519 13.656Z"
            transform="translate(63.7649 25.2881)" fill="url(#paint11_linear)" />
          <path d="M17.627 -3.96729e-07C14.285 -3.96729e-07 11.588 2.694 11.588 6.039V13.978H4.997L11.056 0.322H0.047V3.484H6.058L0 17.214H15.041V11.911H20.215V17.214H23.668V6.039C23.667 2.694 20.97 -3.96729e-07 17.627 -3.96729e-07ZM20.214 8.852H15.04V5.893C15.04 4.455 16.191 3.306 17.627 3.306C19.065 3.306 20.214 4.454 20.214 5.893V8.852Z"
            transform="translate(0 24.9661)" fill="url(#paint12_linear)" />
          <defs>
            <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(4.57424 17.2226) scale(20.4381 17.2226) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.82359 23.4556) scale(26.0203 23.4556) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.0615 20.4644) scale(44.9556 20.4644) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint3_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.7708 16.87) scale(3.444 16.87) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint4_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1.35002 15.208) scale(6.032 15.208) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint5_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.7708 3.3) scale(3.444 3.3) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint6_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.82928 15.009) scale(39.45 15.009) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint7_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.769681 3.296) scale(3.439 3.296) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint8_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(2.70295 17.214) scale(12.077 17.214) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint9_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(2.79493 16.892) scale(12.488 16.892) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint10_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.772366 16.892) scale(3.451 16.892) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint11_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(2.75465 16.892) scale(12.308 16.892) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
            <linearGradient id="paint12_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.29712 17.214) scale(23.668 17.214) rotate(-90)">
              <stop stop-color="#1144CA" />
              <stop offset="1" stop-color="#1171CA" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <h1 class="home__title">Search with zaahib
        <span>fastest real estate search engine!</span>
      </h1>
    </div>
    <form class="form choice-form home__form">
      <div class="home__choice choice-option">
        <label class="choice-option__item">
          <input checked type="radio" name="choice" class="choice-option__input">
          <p class="choice-option__title">sell</p>
          <div class="choice-option__effect"></div>
        </label>
        <label class="choice-option__item">
          <input type="radio" name="choice" class="choice-option__input">
          <p class="choice-option__title">rent</p>
          <div class="choice-option__effect"></div>
        </label>
      </div>
      <div class="choice-list choice-list_styled">
        <div class="choice-list__row">
          <div *ngIf="!locationBoolVal" class="choice-list__item" (click)="showLocationModal()">
            <svg width="13" height="18" viewBox="0 0 13 18" fill="none">
              <mask id="path-1-inside-1" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.48242 8.26758C3.97331 7.73633 3.71875 7.10547 3.71875 6.375C3.71875 5.64453 3.97331 5.02474 4.48242 4.51562C5.01367 3.98438 5.64453 3.71875 6.375 3.71875C7.10547 3.71875 7.72526 3.98438 8.23438 4.51562C8.76562 5.02474 9.03125 5.64453 9.03125 6.375C9.03125 7.10547 8.76562 7.73633 8.23438 8.26758C7.72526 8.77669 7.10547 9.03125 6.375 9.03125C5.64453 9.03125 5.01367 8.77669 4.48242 8.26758ZM8.94161 3.80841C8.24779 3.09197 7.37323 2.71875 6.375 2.71875C5.37097 2.71875 4.48812 3.09572 3.77532 3.80852C3.07562 4.50821 2.71875 5.38365 2.71875 6.375C2.71875 7.36542 3.07437 8.24359 3.76043 8.95948L3.77516 8.97484L3.79052 8.98957C4.50641 9.67563 5.38458 10.0312 6.375 10.0312C7.36635 10.0312 8.24179 9.67438 8.94148 8.97468C9.65428 8.26188 10.0312 7.37903 10.0312 6.375C10.0312 5.37678 9.65804 4.50223 8.94161 3.80841ZM6.37639 15.8702C5.82243 15.064 5.13185 14.0759 4.30532 12.9066C3.19835 11.3126 2.47946 10.2555 2.13731 9.72089M3.48633 13.4805C4.39388 14.7643 5.13542 15.8268 5.71094 16.668C5.86589 16.8893 6.08724 17 6.375 17C6.66276 17 6.88411 16.8893 7.03906 16.668L9.26367 13.4805C10.3704 11.8867 11.1009 10.8132 11.4551 10.2598C11.9642 9.46289 12.3073 8.79883 12.4844 8.26758C12.6615 7.71419 12.75 7.08333 12.75 6.375C12.75 5.22396 12.4622 4.16146 11.8867 3.1875C11.3112 2.21354 10.5365 1.4388 9.5625 0.863281C8.58854 0.28776 7.52604 0 6.375 0C5.22396 0 4.16146 0.28776 3.1875 0.863281C2.21354 1.4388 1.4388 2.21354 0.863281 3.1875C0.28776 4.16146 0 5.22396 0 6.375C0 7.08333 0.0885417 7.71419 0.265625 8.26758C0.442708 8.79883 0.785807 9.46289 1.29492 10.2598C1.64909 10.8132 2.37956 11.8867 3.48633 13.4805ZM1.2162 7.95702C1.07783 7.52213 1 6.99895 1 6.375C1 5.39964 1.24139 4.51331 1.72421 3.69623C2.21391 2.8675 2.8675 2.21391 3.69623 1.72421C4.51331 1.24139 5.39964 1 6.375 1C7.35036 1 8.23669 1.24139 9.05377 1.72421C9.8825 2.21391 10.5361 2.8675 11.0258 3.69623C11.5086 4.51331 11.75 5.39964 11.75 6.375C11.75 6.99893 11.6722 7.5221 11.5338 7.95698C11.3938 8.3743 11.101 8.95647 10.6128 9.72071C10.2705 10.2555 9.55106 11.3134 8.44305 12.909C8.4428 12.9094 8.44255 12.9097 8.4423 12.9101L6.37639 15.8702M2.13719 9.72071C1.64899 8.95649 1.3562 8.37434 1.2162 7.95702Z"
                />
              </mask>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.48242 8.26758C3.97331 7.73633 3.71875 7.10547 3.71875 6.375C3.71875 5.64453 3.97331 5.02474 4.48242 4.51562C5.01367 3.98438 5.64453 3.71875 6.375 3.71875C7.10547 3.71875 7.72526 3.98438 8.23438 4.51562C8.76562 5.02474 9.03125 5.64453 9.03125 6.375C9.03125 7.10547 8.76562 7.73633 8.23438 8.26758C7.72526 8.77669 7.10547 9.03125 6.375 9.03125C5.64453 9.03125 5.01367 8.77669 4.48242 8.26758ZM8.94161 3.80841C8.24779 3.09197 7.37323 2.71875 6.375 2.71875C5.37097 2.71875 4.48812 3.09572 3.77532 3.80852C3.07562 4.50821 2.71875 5.38365 2.71875 6.375C2.71875 7.36542 3.07437 8.24359 3.76043 8.95948L3.77516 8.97484L3.79052 8.98957C4.50641 9.67563 5.38458 10.0312 6.375 10.0312C7.36635 10.0312 8.24179 9.67438 8.94148 8.97468C9.65428 8.26188 10.0312 7.37903 10.0312 6.375C10.0312 5.37678 9.65804 4.50223 8.94161 3.80841ZM6.37639 15.8702C5.82243 15.064 5.13185 14.0759 4.30532 12.9066C3.19835 11.3126 2.47946 10.2555 2.13731 9.72089M3.48633 13.4805C4.39388 14.7643 5.13542 15.8268 5.71094 16.668C5.86589 16.8893 6.08724 17 6.375 17C6.66276 17 6.88411 16.8893 7.03906 16.668L9.26367 13.4805C10.3704 11.8867 11.1009 10.8132 11.4551 10.2598C11.9642 9.46289 12.3073 8.79883 12.4844 8.26758C12.6615 7.71419 12.75 7.08333 12.75 6.375C12.75 5.22396 12.4622 4.16146 11.8867 3.1875C11.3112 2.21354 10.5365 1.4388 9.5625 0.863281C8.58854 0.28776 7.52604 0 6.375 0C5.22396 0 4.16146 0.28776 3.1875 0.863281C2.21354 1.4388 1.4388 2.21354 0.863281 3.1875C0.28776 4.16146 0 5.22396 0 6.375C0 7.08333 0.0885417 7.71419 0.265625 8.26758C0.442708 8.79883 0.785807 9.46289 1.29492 10.2598C1.64909 10.8132 2.37956 11.8867 3.48633 13.4805ZM1.2162 7.95702C1.07783 7.52213 1 6.99895 1 6.375C1 5.39964 1.24139 4.51331 1.72421 3.69623C2.21391 2.8675 2.8675 2.21391 3.69623 1.72421C4.51331 1.24139 5.39964 1 6.375 1C7.35036 1 8.23669 1.24139 9.05377 1.72421C9.8825 2.21391 10.5361 2.8675 11.0258 3.69623C11.5086 4.51331 11.75 5.39964 11.75 6.375C11.75 6.99893 11.6722 7.5221 11.5338 7.95698C11.3938 8.3743 11.101 8.95647 10.6128 9.72071C10.2705 10.2555 9.55106 11.3134 8.44305 12.909C8.4428 12.9094 8.44255 12.9097 8.4423 12.9101L6.37639 15.8702M2.13719 9.72071C1.64899 8.95649 1.3562 8.37434 1.2162 7.95702Z"
                transform="translate(0 0.125)" fill="#1144CA" />
              <path d="M6.37639 15.8702L5.96473 16.154L6.79521 15.5971L6.37639 15.8702ZM1.2162 7.95702L1.63502 7.6839L0.772994 8.18846L1.2162 7.95702ZM1.72564 10.0047L5.96473 16.154L6.78806 15.5864L2.54897 9.4371L1.72564 10.0047ZM6.79521 15.5971L1.63502 7.6839L0.797385 8.23013L5.95758 16.1433L6.79521 15.5971ZM2.5804 9.48927L1.65941 7.72558L0.772994 8.18846L1.69398 9.95215L2.5804 9.48927ZM4.48242 8.26758L3.76043 8.95948L3.77516 8.97485L3.79052 8.98957L4.48242 8.26758ZM4.48242 4.51562L3.77532 3.80852L3.77531 3.80852L4.48242 4.51562ZM8.23438 4.51562L7.51239 5.20753L7.52711 5.22289L7.54247 5.23761L8.23438 4.51562ZM8.23438 8.26758L8.94148 8.97469L8.94148 8.97468L8.23438 8.26758ZM8.94161 3.80841L8.22326 4.50409L8.23441 4.5156L8.24593 4.52676L8.94161 3.80841ZM3.77532 3.80852L4.48242 4.51563L3.77532 3.80852ZM3.76043 8.95948L4.48243 8.26759L4.48242 8.26758L3.76043 8.95948ZM3.77516 8.97484L3.05316 9.66674L3.06788 9.6821L3.08324 9.69682L3.77516 8.97484ZM3.79052 8.98957L3.0986 9.71155L3.09861 9.71155L3.79052 8.98957ZM6.37639 15.8702L5.55223 16.4365L6.37002 17.6266L7.19643 16.4425L6.37639 15.8702ZM4.30532 12.9066L3.48391 13.4771L3.48873 13.4839L4.30532 12.9066ZM5.71094 16.668L4.88558 17.2327L4.89171 17.2414L5.71094 16.668ZM3.48633 13.4805L2.66493 14.0509L2.66975 14.0577L3.48633 13.4805ZM7.03906 16.668L7.85829 17.2414L7.8591 17.2403L7.03906 16.668ZM9.26367 13.4805L10.0837 14.0528L10.085 14.0509L9.26367 13.4805ZM11.4551 10.2598L12.2973 10.7988L12.2978 10.7982L11.4551 10.2598ZM12.4844 8.26758L13.4331 8.58383L13.4368 8.57235L12.4844 8.26758ZM11.8867 3.1875L12.7476 2.67877L12.7476 2.67877L11.8867 3.1875ZM3.1875 0.863281L2.67877 0.0023547L2.67877 0.00235476L3.1875 0.863281ZM0.863281 3.1875L0.00235476 2.67877L0.0023547 2.67877L0.863281 3.1875ZM0.265625 8.26758L-0.686868 8.57238L-0.683058 8.58381L0.265625 8.26758ZM1.29492 10.2598L0.452225 10.7982L0.45265 10.7988L1.29492 10.2598ZM1.2162 7.95702L0.26328 8.26023L0.265645 8.26766L0.268126 8.27506L1.2162 7.95702ZM1.72421 3.69623L0.863281 3.1875L0.863281 3.1875L1.72421 3.69623ZM3.69623 1.72421L3.1875 0.863281L3.1875 0.863281L3.69623 1.72421ZM9.05377 1.72421L9.5625 0.863281L9.5625 0.863281L9.05377 1.72421ZM11.0258 3.69623L10.1649 4.20496L10.1649 4.20496L11.0258 3.69623ZM11.5338 7.95698L12.4819 8.27501L12.4844 8.26762L12.4867 8.26019L11.5338 7.95698ZM10.6128 9.72071L11.4551 10.2598L11.4555 10.2591L10.6128 9.72071ZM8.44305 12.909L7.62167 12.3386L7.62125 12.3392L8.44305 12.909ZM8.4423 12.9101L9.26234 13.4824L9.2641 13.4799L8.4423 12.9101ZM2.71875 6.375C2.71875 7.36542 3.07437 8.24359 3.76043 8.95948L5.20441 7.57567C4.87225 7.22907 4.71875 6.84551 4.71875 6.375H2.71875ZM3.77531 3.80852C3.07562 4.50821 2.71875 5.38365 2.71875 6.375H4.71875C4.71875 5.90542 4.87099 5.54127 5.18953 5.22273L3.77531 3.80852ZM6.375 2.71875C5.37097 2.71875 4.48812 3.09572 3.77532 3.80852L5.18953 5.22273C5.53923 4.87303 5.91809 4.71875 6.375 4.71875V2.71875ZM8.95636 3.82372C8.2602 3.09729 7.38032 2.71875 6.375 2.71875V4.71875C6.83062 4.71875 7.19032 4.87146 7.51239 5.20753L8.95636 3.82372ZM10.0312 6.375C10.0312 5.36968 9.65271 4.4898 8.92628 3.79364L7.54247 5.23761C7.87854 5.55968 8.03125 5.91938 8.03125 6.375H10.0312ZM8.94148 8.97468C9.65428 8.26188 10.0312 7.37903 10.0312 6.375H8.03125C8.03125 6.83191 7.87697 7.21077 7.52727 7.56047L8.94148 8.97468ZM6.375 10.0312C7.36635 10.0312 8.24179 9.67438 8.94148 8.97469L7.52727 7.56047C7.20873 7.87901 6.84458 8.03125 6.375 8.03125V10.0312ZM3.79052 8.98957C4.50641 9.67563 5.38458 10.0312 6.375 10.0312V8.03125C5.90449 8.03125 5.52093 7.87775 5.17433 7.54559L3.79052 8.98957ZM9.65997 3.11273C8.77903 2.20308 7.64581 1.71875 6.375 1.71875V3.71875C7.10065 3.71875 7.71655 3.98086 8.22326 4.50409L9.65997 3.11273ZM6.375 1.71875C5.09727 1.71875 3.96246 2.20716 3.06821 3.10141L4.48242 4.51563C5.01377 3.98427 5.64467 3.71875 6.375 3.71875V1.71875ZM3.06821 3.10141C2.17789 3.99173 1.71875 5.12284 1.71875 6.375H3.71875C3.71875 5.64446 3.97336 5.02469 4.48242 4.51563L3.06821 3.10141ZM1.71875 6.375C1.71875 7.62541 2.17545 8.75088 3.03845 9.65139L4.48242 8.26758C3.97328 7.7363 3.71875 7.10544 3.71875 6.375H1.71875ZM3.03844 9.65138L3.05316 9.66674L4.49715 8.28295L4.48243 8.26759L3.03844 9.65138ZM3.08324 9.69682L3.0986 9.71155L4.48243 8.26759L4.46707 8.25287L3.08324 9.69682ZM3.09861 9.71155C3.99912 10.5745 5.12459 11.0312 6.375 11.0312V9.03125C5.64456 9.03125 5.0137 8.77672 4.48242 8.26758L3.09861 9.71155ZM6.375 11.0312C7.62716 11.0312 8.75827 10.5721 9.64859 9.68179L8.23437 8.26758C7.72531 8.77664 7.10554 9.03125 6.375 9.03125V11.0312ZM9.64859 9.68179C10.5428 8.78754 11.0312 7.65273 11.0312 6.375H9.03125C9.03125 7.10533 8.76573 7.73623 8.23437 8.26758L9.64859 9.68179ZM11.0312 6.375C11.0312 5.1042 10.5469 3.97099 9.6373 3.09006L8.24593 4.52676C8.76914 5.03346 9.03125 5.64936 9.03125 6.375H11.0312ZM7.20056 15.3038C6.64323 14.4928 5.94992 13.5008 5.1219 12.3294L3.48873 13.4839C4.31378 14.651 5.00163 15.6353 5.55223 16.4365L7.20056 15.3038ZM5.12669 12.3363C4.01806 10.7398 3.30992 9.69799 2.97957 9.18182L1.29504 10.26C1.649 10.813 2.37865 11.8854 3.48394 13.477L5.12669 12.3363ZM6.53624 16.1033C5.95675 15.2563 5.21201 14.1893 4.30291 12.9032L2.66975 14.0577C3.57575 15.3394 4.31408 16.3973 4.88563 17.2327L6.53624 16.1033ZM6.375 16C6.36112 16 6.39125 15.998 6.44038 16.0226C6.49185 16.0483 6.52122 16.0817 6.53017 16.0945L4.89171 17.2414C5.24769 17.75 5.78595 18 6.375 18V16ZM6.21983 16.0945C6.22878 16.0817 6.25815 16.0483 6.30962 16.0226C6.35875 15.998 6.38888 16 6.375 16V18C6.96405 18 7.50231 17.75 7.85829 17.2414L6.21983 16.0945ZM8.44364 12.9082L6.21903 16.0957L7.8591 17.2403L10.0837 14.0528L8.44364 12.9082ZM10.6128 9.72071C10.2704 10.2556 9.55074 11.3139 8.4423 12.9101L10.085 14.0509C11.1901 12.4595 11.9314 11.3707 12.2973 10.7988L10.6128 9.72071ZM11.5357 7.95135C11.3964 8.36918 11.1031 8.95336 10.6124 9.72138L12.2978 10.7982C12.8253 9.97242 13.2182 9.22848 13.4331 8.58381L11.5357 7.95135ZM11.75 6.375C11.75 7.00172 11.6715 7.52677 11.532 7.9628L13.4368 8.57235C13.6514 7.90162 13.75 7.16495 13.75 6.375H11.75ZM11.0258 3.69623C11.5086 4.51331 11.75 5.39964 11.75 6.375H13.75C13.75 5.04828 13.4159 3.80961 12.7476 2.67877L11.0258 3.69623ZM9.05377 1.72421C9.8825 2.21391 10.5361 2.8675 11.0258 3.69623L12.7476 2.67877C12.0863 1.55959 11.1904 0.66369 10.0712 0.00235481L9.05377 1.72421ZM6.375 1C7.35036 1 8.23669 1.24139 9.05377 1.72421L10.0712 0.00235481C8.94039 -0.665868 7.70172 -1 6.375 -1V1ZM3.69623 1.72421C4.51331 1.24139 5.39964 1 6.375 1V-1C5.04828 -1 3.80961 -0.665868 2.67877 0.0023547L3.69623 1.72421ZM1.72421 3.69623C2.21391 2.8675 2.8675 2.21391 3.69623 1.72421L2.67877 0.00235476C1.55959 0.66369 0.66369 1.55959 0.00235476 2.67877L1.72421 3.69623ZM1 6.375C1 5.39964 1.24139 4.51331 1.72421 3.69623L0.0023547 2.67877C-0.665868 3.80961 -1 5.04828 -1 6.375H1ZM1.21805 7.9628C1.07852 7.52677 1 7.00172 1 6.375H-1C-1 7.16495 -0.901434 7.90162 -0.686799 8.57235L1.21805 7.9628ZM2.13762 9.72138C1.64694 8.95336 1.35358 8.36918 1.21431 7.95135L-0.683058 8.58381C-0.468168 9.22848 -0.075326 9.97242 0.452226 10.7982L2.13762 9.72138ZM4.3077 12.9101C3.19926 11.3139 2.47955 10.2556 2.13719 9.72071L0.45265 10.7988C0.818625 11.3707 1.55985 12.4595 2.66496 14.0509L4.3077 12.9101ZM2.16913 7.65381C2.06788 7.33562 2 6.91766 2 6.375H0C0 7.08024 0.0877682 7.70863 0.26328 8.26023L2.16913 7.65381ZM2 6.375C2 5.57534 2.19501 4.86517 2.58513 4.20496L0.863281 3.1875C0.287769 4.16144 0 5.22394 0 6.375H2ZM2.58513 4.20496C2.98903 3.52145 3.52145 2.98903 4.20496 2.58513L3.1875 0.863281C2.21354 1.4388 1.4388 2.21354 0.863281 3.1875L2.58513 4.20496ZM4.20496 2.58513C4.86517 2.19501 5.57534 2 6.375 2V0C5.22394 0 4.16144 0.287769 3.1875 0.863281L4.20496 2.58513ZM6.375 2C7.17466 2 7.88483 2.19501 8.54504 2.58513L9.5625 0.863281C8.58856 0.287769 7.52606 0 6.375 0V2ZM8.54504 2.58513C9.22855 2.98903 9.76097 3.52145 10.1649 4.20496L11.8867 3.1875C11.3112 2.21354 10.5365 1.4388 9.5625 0.863281L8.54504 2.58513ZM10.1649 4.20496C10.555 4.86517 10.75 5.57534 10.75 6.375H12.75C12.75 5.22394 12.4622 4.16144 11.8867 3.1875L10.1649 4.20496ZM10.75 6.375C10.75 6.91764 10.6821 7.3356 10.5809 7.65378L12.4867 8.26019C12.6622 7.7086 12.75 7.08022 12.75 6.375H10.75ZM10.5857 7.63896C10.4834 7.94391 10.2399 8.44688 9.77009 9.18236L11.4555 10.2591C11.9621 9.46606 12.3042 8.8047 12.4819 8.27501L10.5857 7.63896ZM9.77054 9.18166C9.44006 9.69802 8.73137 10.7406 7.62167 12.3386L9.26442 13.4794C10.3708 11.8863 11.101 10.813 11.4551 10.2598L9.77054 9.18166ZM7.62125 12.3392C7.62163 12.3387 7.62194 12.3382 7.62175 12.3385C7.62169 12.3386 7.62114 12.3394 7.6205 12.3403L9.2641 13.4799C9.26372 13.4804 9.2634 13.4809 9.2636 13.4806C9.26365 13.4805 9.26421 13.4797 9.26484 13.4788L7.62125 12.3392ZM7.62227 12.3378L5.55636 15.2979L7.19643 16.4425L9.26234 13.4824L7.62227 12.3378ZM2.97991 9.18236C2.51008 8.4469 2.26658 7.94394 2.16428 7.63898L0.268126 8.27506C0.44581 8.80473 0.787891 9.46608 1.29447 10.2591L2.97991 9.18236Z"
                transform="translate(0 0.125)" fill="#1144CA" mask="url(#path-1-inside-1)" />
            </svg>
            <p class="choice-list__name">Location</p>
          </div>
          <div *ngIf="locationBoolVal" class="choice-list__item selected-item" (click)="showLocationModal()">
            <p class="selected-item__title">Location</p>
            <div class="selected-item__list">
              <svg width="13" height="18" viewBox="0 0 13 18" fill="none">
                <mask id="path-1-inside-1" fill="white">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.48242 8.26758C3.97331 7.73633 3.71875 7.10547 3.71875 6.375C3.71875 5.64453 3.97331 5.02474 4.48242 4.51562C5.01367 3.98438 5.64453 3.71875 6.375 3.71875C7.10547 3.71875 7.72526 3.98438 8.23438 4.51562C8.76562 5.02474 9.03125 5.64453 9.03125 6.375C9.03125 7.10547 8.76562 7.73633 8.23438 8.26758C7.72526 8.77669 7.10547 9.03125 6.375 9.03125C5.64453 9.03125 5.01367 8.77669 4.48242 8.26758ZM8.94161 3.80841C8.24779 3.09197 7.37323 2.71875 6.375 2.71875C5.37097 2.71875 4.48812 3.09572 3.77532 3.80852C3.07562 4.50821 2.71875 5.38365 2.71875 6.375C2.71875 7.36542 3.07437 8.24359 3.76043 8.95948L3.77516 8.97484L3.79052 8.98957C4.50641 9.67563 5.38458 10.0312 6.375 10.0312C7.36635 10.0312 8.24179 9.67438 8.94148 8.97468C9.65428 8.26188 10.0312 7.37903 10.0312 6.375C10.0312 5.37678 9.65804 4.50223 8.94161 3.80841ZM6.37639 15.8702C5.82243 15.064 5.13185 14.0759 4.30532 12.9066C3.19835 11.3126 2.47946 10.2555 2.13731 9.72089M3.48633 13.4805C4.39388 14.7643 5.13542 15.8268 5.71094 16.668C5.86589 16.8893 6.08724 17 6.375 17C6.66276 17 6.88411 16.8893 7.03906 16.668L9.26367 13.4805C10.3704 11.8867 11.1009 10.8132 11.4551 10.2598C11.9642 9.46289 12.3073 8.79883 12.4844 8.26758C12.6615 7.71419 12.75 7.08333 12.75 6.375C12.75 5.22396 12.4622 4.16146 11.8867 3.1875C11.3112 2.21354 10.5365 1.4388 9.5625 0.863281C8.58854 0.28776 7.52604 0 6.375 0C5.22396 0 4.16146 0.28776 3.1875 0.863281C2.21354 1.4388 1.4388 2.21354 0.863281 3.1875C0.28776 4.16146 0 5.22396 0 6.375C0 7.08333 0.0885417 7.71419 0.265625 8.26758C0.442708 8.79883 0.785807 9.46289 1.29492 10.2598C1.64909 10.8132 2.37956 11.8867 3.48633 13.4805ZM1.2162 7.95702C1.07783 7.52213 1 6.99895 1 6.375C1 5.39964 1.24139 4.51331 1.72421 3.69623C2.21391 2.8675 2.8675 2.21391 3.69623 1.72421C4.51331 1.24139 5.39964 1 6.375 1C7.35036 1 8.23669 1.24139 9.05377 1.72421C9.8825 2.21391 10.5361 2.8675 11.0258 3.69623C11.5086 4.51331 11.75 5.39964 11.75 6.375C11.75 6.99893 11.6722 7.5221 11.5338 7.95698C11.3938 8.3743 11.101 8.95647 10.6128 9.72071C10.2705 10.2555 9.55106 11.3134 8.44305 12.909C8.4428 12.9094 8.44255 12.9097 8.4423 12.9101L6.37639 15.8702M2.13719 9.72071C1.64899 8.95649 1.3562 8.37434 1.2162 7.95702Z"
                  />
                </mask>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.48242 8.26758C3.97331 7.73633 3.71875 7.10547 3.71875 6.375C3.71875 5.64453 3.97331 5.02474 4.48242 4.51562C5.01367 3.98438 5.64453 3.71875 6.375 3.71875C7.10547 3.71875 7.72526 3.98438 8.23438 4.51562C8.76562 5.02474 9.03125 5.64453 9.03125 6.375C9.03125 7.10547 8.76562 7.73633 8.23438 8.26758C7.72526 8.77669 7.10547 9.03125 6.375 9.03125C5.64453 9.03125 5.01367 8.77669 4.48242 8.26758ZM8.94161 3.80841C8.24779 3.09197 7.37323 2.71875 6.375 2.71875C5.37097 2.71875 4.48812 3.09572 3.77532 3.80852C3.07562 4.50821 2.71875 5.38365 2.71875 6.375C2.71875 7.36542 3.07437 8.24359 3.76043 8.95948L3.77516 8.97484L3.79052 8.98957C4.50641 9.67563 5.38458 10.0312 6.375 10.0312C7.36635 10.0312 8.24179 9.67438 8.94148 8.97468C9.65428 8.26188 10.0312 7.37903 10.0312 6.375C10.0312 5.37678 9.65804 4.50223 8.94161 3.80841ZM6.37639 15.8702C5.82243 15.064 5.13185 14.0759 4.30532 12.9066C3.19835 11.3126 2.47946 10.2555 2.13731 9.72089M3.48633 13.4805C4.39388 14.7643 5.13542 15.8268 5.71094 16.668C5.86589 16.8893 6.08724 17 6.375 17C6.66276 17 6.88411 16.8893 7.03906 16.668L9.26367 13.4805C10.3704 11.8867 11.1009 10.8132 11.4551 10.2598C11.9642 9.46289 12.3073 8.79883 12.4844 8.26758C12.6615 7.71419 12.75 7.08333 12.75 6.375C12.75 5.22396 12.4622 4.16146 11.8867 3.1875C11.3112 2.21354 10.5365 1.4388 9.5625 0.863281C8.58854 0.28776 7.52604 0 6.375 0C5.22396 0 4.16146 0.28776 3.1875 0.863281C2.21354 1.4388 1.4388 2.21354 0.863281 3.1875C0.28776 4.16146 0 5.22396 0 6.375C0 7.08333 0.0885417 7.71419 0.265625 8.26758C0.442708 8.79883 0.785807 9.46289 1.29492 10.2598C1.64909 10.8132 2.37956 11.8867 3.48633 13.4805ZM1.2162 7.95702C1.07783 7.52213 1 6.99895 1 6.375C1 5.39964 1.24139 4.51331 1.72421 3.69623C2.21391 2.8675 2.8675 2.21391 3.69623 1.72421C4.51331 1.24139 5.39964 1 6.375 1C7.35036 1 8.23669 1.24139 9.05377 1.72421C9.8825 2.21391 10.5361 2.8675 11.0258 3.69623C11.5086 4.51331 11.75 5.39964 11.75 6.375C11.75 6.99893 11.6722 7.5221 11.5338 7.95698C11.3938 8.3743 11.101 8.95647 10.6128 9.72071C10.2705 10.2555 9.55106 11.3134 8.44305 12.909C8.4428 12.9094 8.44255 12.9097 8.4423 12.9101L6.37639 15.8702M2.13719 9.72071C1.64899 8.95649 1.3562 8.37434 1.2162 7.95702Z"
                  transform="translate(0 0.125)" fill="#1144CA" />
                <path d="M6.37639 15.8702L5.96473 16.154L6.79521 15.5971L6.37639 15.8702ZM1.2162 7.95702L1.63502 7.6839L0.772994 8.18846L1.2162 7.95702ZM1.72564 10.0047L5.96473 16.154L6.78806 15.5864L2.54897 9.4371L1.72564 10.0047ZM6.79521 15.5971L1.63502 7.6839L0.797385 8.23013L5.95758 16.1433L6.79521 15.5971ZM2.5804 9.48927L1.65941 7.72558L0.772994 8.18846L1.69398 9.95215L2.5804 9.48927ZM4.48242 8.26758L3.76043 8.95948L3.77516 8.97485L3.79052 8.98957L4.48242 8.26758ZM4.48242 4.51562L3.77532 3.80852L3.77531 3.80852L4.48242 4.51562ZM8.23438 4.51562L7.51239 5.20753L7.52711 5.22289L7.54247 5.23761L8.23438 4.51562ZM8.23438 8.26758L8.94148 8.97469L8.94148 8.97468L8.23438 8.26758ZM8.94161 3.80841L8.22326 4.50409L8.23441 4.5156L8.24593 4.52676L8.94161 3.80841ZM3.77532 3.80852L4.48242 4.51563L3.77532 3.80852ZM3.76043 8.95948L4.48243 8.26759L4.48242 8.26758L3.76043 8.95948ZM3.77516 8.97484L3.05316 9.66674L3.06788 9.6821L3.08324 9.69682L3.77516 8.97484ZM3.79052 8.98957L3.0986 9.71155L3.09861 9.71155L3.79052 8.98957ZM6.37639 15.8702L5.55223 16.4365L6.37002 17.6266L7.19643 16.4425L6.37639 15.8702ZM4.30532 12.9066L3.48391 13.4771L3.48873 13.4839L4.30532 12.9066ZM5.71094 16.668L4.88558 17.2327L4.89171 17.2414L5.71094 16.668ZM3.48633 13.4805L2.66493 14.0509L2.66975 14.0577L3.48633 13.4805ZM7.03906 16.668L7.85829 17.2414L7.8591 17.2403L7.03906 16.668ZM9.26367 13.4805L10.0837 14.0528L10.085 14.0509L9.26367 13.4805ZM11.4551 10.2598L12.2973 10.7988L12.2978 10.7982L11.4551 10.2598ZM12.4844 8.26758L13.4331 8.58383L13.4368 8.57235L12.4844 8.26758ZM11.8867 3.1875L12.7476 2.67877L12.7476 2.67877L11.8867 3.1875ZM3.1875 0.863281L2.67877 0.0023547L2.67877 0.00235476L3.1875 0.863281ZM0.863281 3.1875L0.00235476 2.67877L0.0023547 2.67877L0.863281 3.1875ZM0.265625 8.26758L-0.686868 8.57238L-0.683058 8.58381L0.265625 8.26758ZM1.29492 10.2598L0.452225 10.7982L0.45265 10.7988L1.29492 10.2598ZM1.2162 7.95702L0.26328 8.26023L0.265645 8.26766L0.268126 8.27506L1.2162 7.95702ZM1.72421 3.69623L0.863281 3.1875L0.863281 3.1875L1.72421 3.69623ZM3.69623 1.72421L3.1875 0.863281L3.1875 0.863281L3.69623 1.72421ZM9.05377 1.72421L9.5625 0.863281L9.5625 0.863281L9.05377 1.72421ZM11.0258 3.69623L10.1649 4.20496L10.1649 4.20496L11.0258 3.69623ZM11.5338 7.95698L12.4819 8.27501L12.4844 8.26762L12.4867 8.26019L11.5338 7.95698ZM10.6128 9.72071L11.4551 10.2598L11.4555 10.2591L10.6128 9.72071ZM8.44305 12.909L7.62167 12.3386L7.62125 12.3392L8.44305 12.909ZM8.4423 12.9101L9.26234 13.4824L9.2641 13.4799L8.4423 12.9101ZM2.71875 6.375C2.71875 7.36542 3.07437 8.24359 3.76043 8.95948L5.20441 7.57567C4.87225 7.22907 4.71875 6.84551 4.71875 6.375H2.71875ZM3.77531 3.80852C3.07562 4.50821 2.71875 5.38365 2.71875 6.375H4.71875C4.71875 5.90542 4.87099 5.54127 5.18953 5.22273L3.77531 3.80852ZM6.375 2.71875C5.37097 2.71875 4.48812 3.09572 3.77532 3.80852L5.18953 5.22273C5.53923 4.87303 5.91809 4.71875 6.375 4.71875V2.71875ZM8.95636 3.82372C8.2602 3.09729 7.38032 2.71875 6.375 2.71875V4.71875C6.83062 4.71875 7.19032 4.87146 7.51239 5.20753L8.95636 3.82372ZM10.0312 6.375C10.0312 5.36968 9.65271 4.4898 8.92628 3.79364L7.54247 5.23761C7.87854 5.55968 8.03125 5.91938 8.03125 6.375H10.0312ZM8.94148 8.97468C9.65428 8.26188 10.0312 7.37903 10.0312 6.375H8.03125C8.03125 6.83191 7.87697 7.21077 7.52727 7.56047L8.94148 8.97468ZM6.375 10.0312C7.36635 10.0312 8.24179 9.67438 8.94148 8.97469L7.52727 7.56047C7.20873 7.87901 6.84458 8.03125 6.375 8.03125V10.0312ZM3.79052 8.98957C4.50641 9.67563 5.38458 10.0312 6.375 10.0312V8.03125C5.90449 8.03125 5.52093 7.87775 5.17433 7.54559L3.79052 8.98957ZM9.65997 3.11273C8.77903 2.20308 7.64581 1.71875 6.375 1.71875V3.71875C7.10065 3.71875 7.71655 3.98086 8.22326 4.50409L9.65997 3.11273ZM6.375 1.71875C5.09727 1.71875 3.96246 2.20716 3.06821 3.10141L4.48242 4.51563C5.01377 3.98427 5.64467 3.71875 6.375 3.71875V1.71875ZM3.06821 3.10141C2.17789 3.99173 1.71875 5.12284 1.71875 6.375H3.71875C3.71875 5.64446 3.97336 5.02469 4.48242 4.51563L3.06821 3.10141ZM1.71875 6.375C1.71875 7.62541 2.17545 8.75088 3.03845 9.65139L4.48242 8.26758C3.97328 7.7363 3.71875 7.10544 3.71875 6.375H1.71875ZM3.03844 9.65138L3.05316 9.66674L4.49715 8.28295L4.48243 8.26759L3.03844 9.65138ZM3.08324 9.69682L3.0986 9.71155L4.48243 8.26759L4.46707 8.25287L3.08324 9.69682ZM3.09861 9.71155C3.99912 10.5745 5.12459 11.0312 6.375 11.0312V9.03125C5.64456 9.03125 5.0137 8.77672 4.48242 8.26758L3.09861 9.71155ZM6.375 11.0312C7.62716 11.0312 8.75827 10.5721 9.64859 9.68179L8.23437 8.26758C7.72531 8.77664 7.10554 9.03125 6.375 9.03125V11.0312ZM9.64859 9.68179C10.5428 8.78754 11.0312 7.65273 11.0312 6.375H9.03125C9.03125 7.10533 8.76573 7.73623 8.23437 8.26758L9.64859 9.68179ZM11.0312 6.375C11.0312 5.1042 10.5469 3.97099 9.6373 3.09006L8.24593 4.52676C8.76914 5.03346 9.03125 5.64936 9.03125 6.375H11.0312ZM7.20056 15.3038C6.64323 14.4928 5.94992 13.5008 5.1219 12.3294L3.48873 13.4839C4.31378 14.651 5.00163 15.6353 5.55223 16.4365L7.20056 15.3038ZM5.12669 12.3363C4.01806 10.7398 3.30992 9.69799 2.97957 9.18182L1.29504 10.26C1.649 10.813 2.37865 11.8854 3.48394 13.477L5.12669 12.3363ZM6.53624 16.1033C5.95675 15.2563 5.21201 14.1893 4.30291 12.9032L2.66975 14.0577C3.57575 15.3394 4.31408 16.3973 4.88563 17.2327L6.53624 16.1033ZM6.375 16C6.36112 16 6.39125 15.998 6.44038 16.0226C6.49185 16.0483 6.52122 16.0817 6.53017 16.0945L4.89171 17.2414C5.24769 17.75 5.78595 18 6.375 18V16ZM6.21983 16.0945C6.22878 16.0817 6.25815 16.0483 6.30962 16.0226C6.35875 15.998 6.38888 16 6.375 16V18C6.96405 18 7.50231 17.75 7.85829 17.2414L6.21983 16.0945ZM8.44364 12.9082L6.21903 16.0957L7.8591 17.2403L10.0837 14.0528L8.44364 12.9082ZM10.6128 9.72071C10.2704 10.2556 9.55074 11.3139 8.4423 12.9101L10.085 14.0509C11.1901 12.4595 11.9314 11.3707 12.2973 10.7988L10.6128 9.72071ZM11.5357 7.95135C11.3964 8.36918 11.1031 8.95336 10.6124 9.72138L12.2978 10.7982C12.8253 9.97242 13.2182 9.22848 13.4331 8.58381L11.5357 7.95135ZM11.75 6.375C11.75 7.00172 11.6715 7.52677 11.532 7.9628L13.4368 8.57235C13.6514 7.90162 13.75 7.16495 13.75 6.375H11.75ZM11.0258 3.69623C11.5086 4.51331 11.75 5.39964 11.75 6.375H13.75C13.75 5.04828 13.4159 3.80961 12.7476 2.67877L11.0258 3.69623ZM9.05377 1.72421C9.8825 2.21391 10.5361 2.8675 11.0258 3.69623L12.7476 2.67877C12.0863 1.55959 11.1904 0.66369 10.0712 0.00235481L9.05377 1.72421ZM6.375 1C7.35036 1 8.23669 1.24139 9.05377 1.72421L10.0712 0.00235481C8.94039 -0.665868 7.70172 -1 6.375 -1V1ZM3.69623 1.72421C4.51331 1.24139 5.39964 1 6.375 1V-1C5.04828 -1 3.80961 -0.665868 2.67877 0.0023547L3.69623 1.72421ZM1.72421 3.69623C2.21391 2.8675 2.8675 2.21391 3.69623 1.72421L2.67877 0.00235476C1.55959 0.66369 0.66369 1.55959 0.00235476 2.67877L1.72421 3.69623ZM1 6.375C1 5.39964 1.24139 4.51331 1.72421 3.69623L0.0023547 2.67877C-0.665868 3.80961 -1 5.04828 -1 6.375H1ZM1.21805 7.9628C1.07852 7.52677 1 7.00172 1 6.375H-1C-1 7.16495 -0.901434 7.90162 -0.686799 8.57235L1.21805 7.9628ZM2.13762 9.72138C1.64694 8.95336 1.35358 8.36918 1.21431 7.95135L-0.683058 8.58381C-0.468168 9.22848 -0.075326 9.97242 0.452226 10.7982L2.13762 9.72138ZM4.3077 12.9101C3.19926 11.3139 2.47955 10.2556 2.13719 9.72071L0.45265 10.7988C0.818625 11.3707 1.55985 12.4595 2.66496 14.0509L4.3077 12.9101ZM2.16913 7.65381C2.06788 7.33562 2 6.91766 2 6.375H0C0 7.08024 0.0877682 7.70863 0.26328 8.26023L2.16913 7.65381ZM2 6.375C2 5.57534 2.19501 4.86517 2.58513 4.20496L0.863281 3.1875C0.287769 4.16144 0 5.22394 0 6.375H2ZM2.58513 4.20496C2.98903 3.52145 3.52145 2.98903 4.20496 2.58513L3.1875 0.863281C2.21354 1.4388 1.4388 2.21354 0.863281 3.1875L2.58513 4.20496ZM4.20496 2.58513C4.86517 2.19501 5.57534 2 6.375 2V0C5.22394 0 4.16144 0.287769 3.1875 0.863281L4.20496 2.58513ZM6.375 2C7.17466 2 7.88483 2.19501 8.54504 2.58513L9.5625 0.863281C8.58856 0.287769 7.52606 0 6.375 0V2ZM8.54504 2.58513C9.22855 2.98903 9.76097 3.52145 10.1649 4.20496L11.8867 3.1875C11.3112 2.21354 10.5365 1.4388 9.5625 0.863281L8.54504 2.58513ZM10.1649 4.20496C10.555 4.86517 10.75 5.57534 10.75 6.375H12.75C12.75 5.22394 12.4622 4.16144 11.8867 3.1875L10.1649 4.20496ZM10.75 6.375C10.75 6.91764 10.6821 7.3356 10.5809 7.65378L12.4867 8.26019C12.6622 7.7086 12.75 7.08022 12.75 6.375H10.75ZM10.5857 7.63896C10.4834 7.94391 10.2399 8.44688 9.77009 9.18236L11.4555 10.2591C11.9621 9.46606 12.3042 8.8047 12.4819 8.27501L10.5857 7.63896ZM9.77054 9.18166C9.44006 9.69802 8.73137 10.7406 7.62167 12.3386L9.26442 13.4794C10.3708 11.8863 11.101 10.813 11.4551 10.2598L9.77054 9.18166ZM7.62125 12.3392C7.62163 12.3387 7.62194 12.3382 7.62175 12.3385C7.62169 12.3386 7.62114 12.3394 7.6205 12.3403L9.2641 13.4799C9.26372 13.4804 9.2634 13.4809 9.2636 13.4806C9.26365 13.4805 9.26421 13.4797 9.26484 13.4788L7.62125 12.3392ZM7.62227 12.3378L5.55636 15.2979L7.19643 16.4425L9.26234 13.4824L7.62227 12.3378ZM2.97991 9.18236C2.51008 8.4469 2.26658 7.94394 2.16428 7.63898L0.268126 8.27506C0.44581 8.80473 0.787891 9.46608 1.29447 10.2591L2.97991 9.18236Z"
                  transform="translate(0 0.125)" fill="#1144CA" mask="url(#path-1-inside-1)" />
              </svg>
              <span *ngFor="let location of selectedLocations" class="selected-item__name">{{location.title}}</span>
            </div>
          </div>
        </div>
        <div class="choice-list__row">
          <div *ngIf="!propertyBoolVal" class="choice-list__item" (click)="showPropertyModal()">
            <p class="choice-list__name">Property Type</p>
          </div>
          <div *ngIf="propertyBoolVal" class="choice-list__item selected-item" (click)="showPropertyModal()">
            <p class="selected-item__title">Property Type</p>
            <div class="selected-item__list">
              <span *ngFor="let property of selectedProperties" class="selected-item__name">{{property}}</span>
            </div>
          </div>
        </div>
        <div class="choice-list__row">
          <div *ngIf="!priceBoolVal" class="choice-list__item" (click)="showRangeModal(0)">
            <p class="choice-list__name">Price</p>
          </div>
          <div *ngIf="priceBoolVal" class="choice-list__item selected-item">
              <p class="selected-item__title">Price</p>
              <div class="selected-item__list">
                <span class="selected-item__name">SAR {{selectedPrice.min}} - SAR {{selectedPrice.max}}</span>
              </div>
            </div>
        </div>
        <div class="choice-list__row">
          <div *ngIf="!bedroomBoolVal" class="choice-list__item choice-list__item_styled" (click)="showSelectModal(0)">
            <svg width="24" height="18" viewBox="0 0 24 18" fill="none">
              <path d="M23 13.5H23.5C23.5 13.2239 23.2761 13 23 13V13.5ZM0.5 0C0.5 -0.276142 0.276142 -0.5 0 -0.5C-0.276142 -0.5 -0.5 -0.276142 -0.5 0H0.5ZM3 9.5H2.5C2.5 9.77614 2.72386 10 3 10V9.5ZM8 9.5V10H8.5V9.5H8ZM8 7H8.5C8.5 6.72386 8.27614 6.5 8 6.5V7ZM3 7V6.5C2.72386 6.5 2.5 6.72386 2.5 7H3ZM23 10C23.2761 10 23.5 9.77614 23.5 9.5C23.5 9.22386 23.2761 9 23 9V10ZM0.5 17V13.5H-0.5V17H0.5ZM0 14H23V13H0V14ZM22.5 13.5V17H23.5V13.5H22.5ZM0.5 13.5V0H-0.5V13.5H0.5ZM3 10H8V9H3V10ZM8.5 9.5V7H7.5V9.5H8.5ZM8 6.5H3V7.5H8V6.5ZM2.5 7V9.5H3.5V7H2.5ZM10.5 10H23V9H10.5V10Z"
                transform="translate(0.5 1)" fill="#1144CA" />
            </svg>
            <p class="choice-list__name">Bedroom</p>
          </div>
          <div *ngIf="bedroomBoolVal" class="choice-list__item choice-list__item_styled selected-item selected-item_styled" (click)="showSelectModal(0)">
            <div class="choice-list__left">
                <svg width="24" height="18" viewBox="0 0 24 18" fill="none">
                    <path d="M23 13.5H23.5C23.5 13.2239 23.2761 13 23 13V13.5ZM0.5 0C0.5 -0.276142 0.276142 -0.5 0 -0.5C-0.276142 -0.5 -0.5 -0.276142 -0.5 0H0.5ZM3 9.5H2.5C2.5 9.77614 2.72386 10 3 10V9.5ZM8 9.5V10H8.5V9.5H8ZM8 7H8.5C8.5 6.72386 8.27614 6.5 8 6.5V7ZM3 7V6.5C2.72386 6.5 2.5 6.72386 2.5 7H3ZM23 10C23.2761 10 23.5 9.77614 23.5 9.5C23.5 9.22386 23.2761 9 23 9V10ZM0.5 17V13.5H-0.5V17H0.5ZM0 14H23V13H0V14ZM22.5 13.5V17H23.5V13.5H22.5ZM0.5 13.5V0H-0.5V13.5H0.5ZM3 10H8V9H3V10ZM8.5 9.5V7H7.5V9.5H8.5ZM8 6.5H3V7.5H8V6.5ZM2.5 7V9.5H3.5V7H2.5ZM10.5 10H23V9H10.5V10Z"
                      transform="translate(0.5 1)" fill="#1144CA" />
                  </svg>
              <p class="selected-item__title">Bedroom</p>
            </div>
            <div class="selected-item__list">
              <span class="selected-item__name">{{selectedValue.min}} - {{selectedValue.max}}</span>
            </div>
          </div>
          <div *ngIf="bathroomBoolVal" class="choice-list__item choice-list__item_styled" (click)="showSelectModal(1)">
            <svg width="28" height="24" viewBox="0 0 28 24" fill="none">
              <mask id="path-1-inside-1" fill="white">
                <path d="M0 1C0 0.447715 0.447715 0 1 0H5C5.55228 0 6 0.447715 6 1H0Z" />
              </mask>
              <path d="M1 1H5V-1H1V1ZM6 0H0V2H6V0ZM5 1H7C7 -0.104569 6.10457 -1 5 -1V1ZM1 -1C-0.104569 -1 -1 -0.104569 -1 1H1V-1Z" transform="translate(9 5)"
                fill="#1144CA" mask="url(#path-1-inside-1)" />
              <path d="M0.5 2C0.5 1.17157 1.17157 0.5 2 0.5H22C22.8284 0.5 23.5 1.17157 23.5 2C23.5 5.03757 21.0376 7.5 18 7.5H6C2.96243 7.5 0.5 5.03757 0.5 2Z"
                transform="translate(2 14)" stroke="#1144CA" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M1 0L0 2" transform="translate(5 21)" stroke="#1144CA" stroke-linecap="round" stroke-linejoin="round" />
              <rect x="0.5" y="0.5" width="27" height="3" rx="1.5" transform="translate(0 11)" stroke="#1144CA" />
              <path d="M2.7961e-08 10C2.7961e-08 10 0.000201147 7.12419 2.7961e-08 4C-0.000193096 1 1 0 4 0C7 0 8 2 8 4" transform="translate(4 1)"
                stroke="#1144CA" />
              <path d="M1 0L0 2" transform="translate(23 21) scale(-1 1)" stroke="#1144CA" stroke-linecap="round" stroke-linejoin="round"
              />
            </svg>
            <p class="choice-list__name">Bathroom</p>
          </div>
          <div *ngIf="!bathroomBoolVal" class="choice-list__item choice-list__item_styled selected-item selected-item_styled" (click)="showSelectModal(1)">
              <div class="choice-list__left">
                  <svg width="28" height="24" viewBox="0 0 28 24" fill="none">
                      <mask id="path-1-inside-1" fill="white">
                        <path d="M0 1C0 0.447715 0.447715 0 1 0H5C5.55228 0 6 0.447715 6 1H0Z" />
                      </mask>
                      <path d="M1 1H5V-1H1V1ZM6 0H0V2H6V0ZM5 1H7C7 -0.104569 6.10457 -1 5 -1V1ZM1 -1C-0.104569 -1 -1 -0.104569 -1 1H1V-1Z" transform="translate(9 5)"
                        fill="#1144CA" mask="url(#path-1-inside-1)" />
                      <path d="M0.5 2C0.5 1.17157 1.17157 0.5 2 0.5H22C22.8284 0.5 23.5 1.17157 23.5 2C23.5 5.03757 21.0376 7.5 18 7.5H6C2.96243 7.5 0.5 5.03757 0.5 2Z"
                        transform="translate(2 14)" stroke="#1144CA" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M1 0L0 2" transform="translate(5 21)" stroke="#1144CA" stroke-linecap="round" stroke-linejoin="round" />
                      <rect x="0.5" y="0.5" width="27" height="3" rx="1.5" transform="translate(0 11)" stroke="#1144CA" />
                      <path d="M2.7961e-08 10C2.7961e-08 10 0.000201147 7.12419 2.7961e-08 4C-0.000193096 1 1 0 4 0C7 0 8 2 8 4" transform="translate(4 1)"
                        stroke="#1144CA" />
                      <path d="M1 0L0 2" transform="translate(23 21) scale(-1 1)" stroke="#1144CA" stroke-linecap="round" stroke-linejoin="round"
                      />
                    </svg>
                <p class="selected-item__title">Bathroom</p>
              </div>
              <div class="selected-item__list">
                <span class="selected-item__name">{{selectedValue.min}} - {{selectedValue.max}}</span>
              </div>
            </div>
        </div>
      </div>
      <button type="submit" (click)="openPage()" class="form__btn btn-confirm">search</button>
    </form>
  </div>
</ion-content>
