.detail-map {
  width: 100%;
  position: relative;
  border-radius: 5px;
  &__grid {
    height: 210px;
    width: 100%;
  }
  &__btn {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: $white-color;
    @include font-weight('bold');
    border-radius: 25px;
    background: #18D579;
    padding: 10px 15px;
  }
  &__address{
    position: absolute;
    top: 10px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
  }
}