<ion-menu class="template-menu" side="right" [content]="content">
  <div class="template-menu__header">
    <div class="template-menu__options">
      <button class="template-menu__options-item select-item">
        Saudi Arabia
        <span class="select-item__icon">
            <svg width="8" height="5" viewBox="0 0 8 5" fill="none">
              <path d="M0 0L3 3.25L6 0" transform="translate(1 1)" stroke="white"/>
            </svg>              
        </span>
      </button>
      <button class="template-menu__options-item select-item">
          Language
          <span class="select-item__icon">
              <svg width="8" height="5" viewBox="0 0 8 5" fill="none">
                <path d="M0 0L3 3.25L6 0" transform="translate(1 1)" stroke="white"/>
              </svg>              
          </span>
        </button>
    </div>
    <div class="template-menu__auth">
      <button type="button" class="btn auth-btn">login / register</button>
    </div>
  </div>
  <div class="menu-options">
    <button type="button" class="menu-options__item">
        <div class="menu-options__icon">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M5 0V5M5 10V5M5 5H0H10" transform="translate(1 1)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
        </div>
        <span>Post</span>          
    </button>
    <button type="button" class="menu-options__item">
      <div class="menu-options__icon">
        <svg width="16" height="10" viewBox="0 0 16 10" fill="none">
          <path d="M0 8L4.83333 2.7L8.16667 6.3L14 0" transform="translate(1 1)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
        <span>Prices</span>          
    </button>
    <button type="button" class="menu-options__item">
      <div class="menu-options__icon">
        <svg width="28" height="13" viewBox="0 0 28 13" fill="none">
          <circle cx="2.04545" cy="2.04545" r="2.04545" transform="translate(11.4546 2)" stroke="white" stroke-width="2"/>
          <path d="M9 3.27273C9 1.46525 6.98528 0 4.5 0C2.01472 0 0 1.46525 0 3.27273" transform="translate(9 8.72729)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <circle cx="2.04545" cy="2.04545" r="2.04545" transform="translate(20.4546 1)" stroke="white" stroke-width="2"/>
          <path d="M7.40418 3.27273C7.40418 1.46525 5.38946 0 2.90418 0C1.79731 0 0.78378 0.290638 0 0.772705" transform="translate(19.5957 7.72729)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <circle cx="2.04545" cy="2.04545" r="2.04545" transform="translate(3.45459 1)" stroke="white" stroke-width="2"/>
          <path d="M0 3.27273C0 1.46525 2.01472 0 4.5 0C5.42507 0 6.28495 0.203008 7 0.551109" transform="translate(1 7.72729)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
        <span>Sellers</span>         
    </button>
  </div>
  <div class="menu-list">
    <button class="menu-list__item" menuClose *ngFor="let p of pages" (click)="openPage(p)">{{p.title}}</button>
  </div>
  <div class="template-menu__footer">
    <div class="social">
      <button type="button" class="fb social__item">
        <svg width="9" height="18" viewBox="0 0 9 18" fill="none">
          <path d="M2.55664 17V9.39648H0V6.375H2.55664V3.98438C2.55664 2.72266 2.91081 1.7487 3.61914 1.0625C4.32747 0.354167 5.26823 0 6.44141 0C7.39323 0 8.16797 0.0442708 8.76562 0.132812V2.82227H7.17188C6.57422 2.82227 6.16471 2.95508 5.94336 3.2207C5.76628 3.44206 5.67773 3.79622 5.67773 4.2832V6.375H8.5L8.10156 9.39648H5.67773V17H2.55664Z"
            transform="translate(0 0.125)" fill="white" />
        </svg>
      </button>
      <button type="button" class="twitter social__item">
        <svg width="17" height="15" viewBox="0 0 17 15" fill="none">
          <path d="M15.2402 3.45312C15.2624 3.54167 15.2734 3.68555 15.2734 3.88477C15.2734 5.47852 14.8861 7.01693 14.1113 8.5C13.3145 10.0716 12.1966 11.3223 10.7578 12.252C9.1862 13.2923 7.38216 13.8125 5.3457 13.8125C3.39779 13.8125 1.61589 13.2923 0 12.252C0.24349 12.2741 0.520182 12.2852 0.830078 12.2852C2.44596 12.2852 3.89583 11.7871 5.17969 10.791C4.40495 10.791 3.71875 10.5697 3.12109 10.127C2.54557 9.66211 2.14714 9.08659 1.92578 8.40039C2.14714 8.42253 2.35742 8.43359 2.55664 8.43359C2.86654 8.43359 3.17643 8.40039 3.48633 8.33398C2.68945 8.1569 2.02539 7.7474 1.49414 7.10547C0.962891 6.46354 0.697266 5.73307 0.697266 4.91406V4.84766C1.18424 5.13542 1.70443 5.29036 2.25781 5.3125C1.79297 4.98047 1.41667 4.5599 1.12891 4.05078C0.841146 3.54167 0.697266 2.98828 0.697266 2.39062C0.697266 1.77083 0.863281 1.18424 1.19531 0.630859C2.05859 1.71549 3.11003 2.57878 4.34961 3.2207C5.61133 3.86263 6.95052 4.2168 8.36719 4.2832C8.32292 4.01758 8.30078 3.75195 8.30078 3.48633C8.30078 2.86654 8.45573 2.29102 8.76562 1.75977C9.07552 1.20638 9.49609 0.77474 10.0273 0.464844C10.5586 0.154948 11.1341 0 11.7539 0C12.263 0 12.7279 0.0996094 13.1484 0.298828C13.5911 0.498047 13.9785 0.763672 14.3105 1.0957C15.1074 0.940755 15.849 0.664062 16.5352 0.265625C16.2695 1.08464 15.7604 1.72656 15.0078 2.19141C15.6719 2.10286 16.3359 1.91471 17 1.62695C16.513 2.33529 15.9264 2.94401 15.2402 3.45312Z"
            transform="translate(0 0.71875)" fill="white" />
        </svg>
      </button>
      <button type="button" class="google social__item">
        <svg width="21" height="13" viewBox="0 0 21 13" fill="none">
          <path d="M12.3848 5.44531C12.4512 5.82161 12.4844 6.17578 12.4844 6.50781C12.4844 7.72526 12.2298 8.8099 11.7207 9.76172C11.2116 10.6914 10.4922 11.4219 9.5625 11.9531C8.63281 12.4844 7.57031 12.75 6.375 12.75C5.22396 12.75 4.15039 12.4622 3.1543 11.8867C2.18034 11.3112 1.4056 10.5365 0.830078 9.5625C0.276693 8.58854 0 7.52604 0 6.375C0 5.22396 0.276693 4.16146 0.830078 3.1875C1.4056 2.21354 2.18034 1.4388 3.1543 0.863281C4.15039 0.28776 5.22396 0 6.375 0C8.03516 0 9.45182 0.553385 10.625 1.66016L8.89844 3.32031C8.23438 2.67839 7.39323 2.35742 6.375 2.35742C5.66667 2.35742 5.0026 2.53451 4.38281 2.88867C3.78516 3.24284 3.30924 3.72982 2.95508 4.34961C2.60091 4.9694 2.42383 5.64453 2.42383 6.375C2.42383 7.10547 2.60091 7.7806 2.95508 8.40039C3.30924 9.02018 3.78516 9.50716 4.38281 9.86133C5.0026 10.2155 5.66667 10.3926 6.375 10.3926C7.14974 10.3926 7.82487 10.2266 8.40039 9.89453C8.86523 9.62891 9.24154 9.2526 9.5293 8.76562C9.77279 8.38932 9.92773 8.02409 9.99414 7.66992H6.375V5.44531H12.3848ZM18.5273 5.67773V3.81836H16.668V5.67773H14.8418V7.53711H16.668V9.39648H18.5273V7.53711H20.3867V5.67773H18.5273Z"
            transform="translate(0.431641 0.25)" fill="white" />
        </svg>
      </button>
      <button type="button" class="instagram social__item">
        <svg width="15" height="16" viewBox="0 0 15 16" fill="none">
          <path d="M7.4375 3.61914C6.7513 3.61914 6.10938 3.79622 5.51172 4.15039C4.9362 4.48242 4.47135 4.94727 4.11719 5.54492C3.78516 6.12044 3.61914 6.7513 3.61914 7.4375C3.61914 8.1237 3.78516 8.76562 4.11719 9.36328C4.47135 9.9388 4.9362 10.4036 5.51172 10.7578C6.10938 11.0898 6.7513 11.2559 7.4375 11.2559C8.1237 11.2559 8.75456 11.0898 9.33008 10.7578C9.92773 10.4036 10.3926 9.9388 10.7246 9.36328C11.0788 8.76562 11.2559 8.1237 11.2559 7.4375C11.2559 6.7513 11.0788 6.12044 10.7246 5.54492C10.3926 4.94727 9.92773 4.48242 9.33008 4.15039C8.75456 3.79622 8.1237 3.61914 7.4375 3.61914ZM7.4375 9.92773C6.7513 9.92773 6.16471 9.68424 5.67773 9.19727C5.19076 8.71029 4.94727 8.1237 4.94727 7.4375C4.94727 6.7513 5.19076 6.16471 5.67773 5.67773C6.16471 5.19076 6.7513 4.94727 7.4375 4.94727C8.1237 4.94727 8.71029 5.19076 9.19727 5.67773C9.68424 6.16471 9.92773 6.7513 9.92773 7.4375C9.92773 8.1237 9.68424 8.71029 9.19727 9.19727C8.71029 9.68424 8.1237 9.92773 7.4375 9.92773ZM12.3184 3.45312C12.2962 3.69661 12.1966 3.9069 12.0195 4.08398C11.8646 4.26107 11.6654 4.34961 11.4219 4.34961C11.1784 4.34961 10.9681 4.26107 10.791 4.08398C10.6139 3.9069 10.5254 3.69661 10.5254 3.45312C10.5254 3.20964 10.6139 2.99935 10.791 2.82227C10.9681 2.64518 11.1784 2.55664 11.4219 2.55664C11.6654 2.55664 11.8757 2.64518 12.0527 2.82227C12.2298 2.99935 12.3184 3.20964 12.3184 3.45312ZM14.8418 4.34961C14.7975 3.70768 14.6979 3.1543 14.543 2.68945C14.3438 2.13607 14.0339 1.66016 13.6133 1.26172C13.2148 0.841146 12.7389 0.53125 12.1855 0.332031C11.7207 0.177083 11.1673 0.0885417 10.5254 0.0664062C9.9056 0.0221354 8.8763 0 7.4375 0C5.9987 0 4.95833 0.0221354 4.31641 0.0664062C3.69661 0.0885417 3.1543 0.177083 2.68945 0.332031C2.13607 0.53125 1.64909 0.841146 1.22852 1.26172C0.830078 1.66016 0.53125 2.13607 0.332031 2.68945C0.177083 3.1543 0.077474 3.70768 0.0332031 4.34961C0.0110677 4.9694 0 5.9987 0 7.4375C0 8.8763 0.0110677 9.91667 0.0332031 10.5586C0.077474 11.1784 0.177083 11.7207 0.332031 12.1855C0.53125 12.7389 0.830078 13.2259 1.22852 13.6465C1.64909 14.0449 2.13607 14.3327 2.68945 14.5098C3.1543 14.6868 3.69661 14.7865 4.31641 14.8086C4.95833 14.8529 5.9987 14.875 7.4375 14.875C8.8763 14.875 9.9056 14.8529 10.5254 14.8086C11.1673 14.7865 11.7207 14.6979 12.1855 14.543C12.7389 14.3438 13.2148 14.0449 13.6133 13.6465C14.0339 13.2259 14.3438 12.7389 14.543 12.1855C14.6979 11.7207 14.7865 11.1784 14.8086 10.5586C14.8529 9.91667 14.875 8.8763 14.875 7.4375C14.875 5.9987 14.8639 4.9694 14.8418 4.34961ZM13.248 11.8203C12.9824 12.4844 12.5065 12.9603 11.8203 13.248C11.4661 13.3809 10.8685 13.4694 10.0273 13.5137C9.5625 13.5358 8.8763 13.5469 7.96875 13.5469H6.90625C6.02083 13.5469 5.33464 13.5358 4.84766 13.5137C4.02865 13.4694 3.43099 13.3809 3.05469 13.248C2.39062 12.9824 1.91471 12.5065 1.62695 11.8203C1.49414 11.444 1.4056 10.8464 1.36133 10.0273C1.33919 9.54036 1.32812 8.85417 1.32812 7.96875V6.90625C1.32812 6.02083 1.33919 5.33464 1.36133 4.84766C1.4056 4.00651 1.49414 3.40885 1.62695 3.05469C1.89258 2.36849 2.36849 1.89258 3.05469 1.62695C3.43099 1.49414 4.02865 1.4056 4.84766 1.36133C5.33464 1.33919 6.02083 1.32812 6.90625 1.32812H7.96875C8.85417 1.32812 9.54036 1.33919 10.0273 1.36133C10.8685 1.4056 11.4661 1.49414 11.8203 1.62695C12.5065 1.89258 12.9824 2.36849 13.248 3.05469C13.3809 3.40885 13.4694 4.00651 13.5137 4.84766C13.5358 5.3125 13.5469 5.9987 13.5469 6.90625V7.96875C13.5469 8.85417 13.5358 9.54036 13.5137 10.0273C13.4694 10.8464 13.3809 11.444 13.248 11.8203Z"
            transform="translate(0 0.1875)" fill="white" />
        </svg>
      </button>
      <button type="button" class="youtube social__item">
        <svg width="19" height="13" viewBox="0 0 19 13" fill="none">
          <path d="M17.7637 1.99219C17.653 1.59375 17.4538 1.25065 17.166 0.962891C16.8783 0.67513 16.5352 0.475911 16.1367 0.365234C15.5612 0.210286 14.2109 0.0996094 12.0859 0.0332031L9.06445 0L6.04297 0.0332031C3.91797 0.0996094 2.56771 0.210286 1.99219 0.365234C1.59375 0.475911 1.25065 0.67513 0.962891 0.962891C0.67513 1.25065 0.475911 1.59375 0.365234 1.99219C0.210286 2.58984 0.0996094 3.4974 0.0332031 4.71484C0.0110677 5.33464 0 5.88802 0 6.375L0.0332031 8.03516C0.0996094 9.27474 0.210286 10.1934 0.365234 10.791C0.475911 11.1673 0.67513 11.4993 0.962891 11.7871C1.25065 12.0749 1.59375 12.2741 1.99219 12.3848C2.56771 12.5397 3.91797 12.6504 6.04297 12.7168L9.06445 12.75L12.0859 12.7168C14.2109 12.6504 15.5612 12.5397 16.1367 12.3848C16.5352 12.2741 16.8783 12.0749 17.166 11.7871C17.4538 11.4993 17.653 11.1673 17.7637 10.791C17.9186 10.1934 18.0293 9.27474 18.0957 8.03516L18.1289 6.375L18.0957 4.71484C18.0293 3.4974 17.9186 2.58984 17.7637 1.99219ZM7.20508 9.09766V3.68555L11.9531 6.375L7.20508 9.09766Z"
            transform="translate(0.498047 0.25)" fill="white" />
        </svg>
      </button>
    </div>
    <button type="button" class="chat">
      <div class="chat__icon">
        <svg width="27" height="25" viewBox="0 0 27 25" fill="none">
          <path d="M0 8.5C0 13.1944 5.14873 17 11.5 17C12.9066 17 14.2542 16.8133 15.5 16.4717L20.5 19.5L20 14.2254C21.8636 12.7147 23 10.7054 23 8.5C23 3.80558 17.8513 0 11.5 0C5.14873 0 0 3.80558 0 8.5Z"
            transform="translate(2 2)" stroke="white" stroke-width="3" />
        </svg>
        <p class="notifications chat__notifications">15</p>
      </div>
      <p class="chat__text">chat</p>
    </button>
  </div>
  <button type="button" class="close-btn" menuClose>
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
      <path d="M0 0L9.5 9.5M19 19L9.5 9.5M9.5 9.5L19 0L0 19" transform="translate(1 1)" stroke="white" stroke-width="2" />
    </svg>
  </button>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
