<!--
  Generated template for the RangeModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="modal range-modal value-modal">
    <div (click)="dismiss()" class="modal__overlay"></div>
    <div class="modal__grid value-modal__grid">
        <header class="range-modal__header value-modal__header">
            <button type="button" (click)="dismiss()" class="value-modal__btn value-modal__btn-cancel">Cancel</button>
            <p class="title title_styled">{{ rangeModalData.name }}</p>
            <button type="button" (click)="dismiss()" class="value-modal__btn value-modal__btn-confirm">Done</button>
          </header>
          <div class="range-modal__grid">
            <div class="range-modal__data">
              <div class="range-modal__data-item">
                <p class="range-modal__data-name">Min</p>
                <p class="range-modal__data-value">{{rangeModalData.data.lower}} {{rangeModalData.prefix}}</p>
              </div>
              <div class="range-modal__data-item">
                <p class="range-modal__data-name">Max</p>
                <p class="range-modal__data-value">{{rangeModalData.data.upper}} {{rangeModalData.prefix}}</p>
              </div>
            </div>
          </div>
          <div class="range-modal__slider">
            <ion-range dualKnobs="true" min="{{rangeModalData.min}}" max="{{rangeModalData.max}}" [(ngModel)]="rangeModalData.data" (ionBlur)="getValue($event)"></ion-range>
          </div>
    </div>
  </div>
