.range-modal{
    &__data{
        @include flex();
        &-item{
            width: 50%;
            padding: 12px 15px;
            &:not(:last-child){
                border-right: 1px solid rgba(#0F2355, .1);
            }
        }
        &-name{
            margin: 0;
            font-size: 12px;
            color: rgba(#0F2355, .3);
        }
        &-value{
            font-size: 16px;
            margin: 0;
            color: #0F2355;
            margin-top: 3px;
        }
    }
    &__slider{
        padding: 15px 20px;
        border-top: 1px solid #e6e6e6;
    }
}
