<!--
  Generated template for the PropertyFinalizingModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="modal value-modal property-f-modal">
  <div (click)="dismiss()" class="modal__overlay"></div>
  <div class="modal__grid value-modal__grid">
    <header class="value-modal__header">
      <button type="button" (click)="dismiss()" class="value-modal__btn value-modal__btn-cancel">Cancel</button>
      <p class="title title_styled">{{ data.name }}</p>
      <button type="button" (click)="dismiss()" class="value-modal__btn value-modal__btn-confirm">Done</button>
    </header>
    <div class="property-f-modal__grid">
      <div class="property-list">
        <!-- Begin section -->
        <div class="property-list__section">
          <div class="property-list__content">
            <div *ngFor="let list of data.list" (click)="getPropertyValue(list)" [ngClass]="{'property-list__item_active': list.active}"
              class="property-list__item">
              <p class="property-list__name">{{ list.name }}</p>
              <div class="property-list__icon">
                <svg width="13" height="10" viewBox="0 0 13 10" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.535 0L4.23987 7.09974L1.444 4.42934L0 5.89946L4.19681 10H4.21484L13 1.44014L11.535 0Z"
                    transform="translate(0 0.000488281)" fill="#CDCDCD" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- End section -->
      </div>
    </div>
  </div>
</div>
