<!--
  Generated template for the ContactsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="push-page">
    <ion-header>
      <header class="push-page__header">
        <button (click)="goBack()" type="button" class="back-btn">
          <svg width="13" height="22" viewBox="0 0 13 22" fill="none">
            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="13" height="22">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.75946 0.412269L0.395654 9.40223C-0.131885 9.90796 -0.131885 10.7522 0.395654 11.26L9.75946 20.2479C10.3337 20.7993 11.2403 20.7993 11.8146 20.2479C12.4221 19.6643 12.4221 18.6923 11.8146 18.1077L3.97212 10.5788C3.82985 10.4428 3.82985 10.2174 3.97212 10.0814L11.8146 2.55254C12.4221 1.96892 12.4221 0.996923 11.8146 0.412269C11.5269 0.138115 11.1572 0 10.7875 0C10.4168 0 10.0471 0.138115 9.75946 0.412269Z"
                transform="translate(0.571289 0.573242)" fill="white" />
            </mask>
            <g mask="url(#mask0)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.75946 0.412269L0.395654 9.40223C-0.131885 9.90796 -0.131885 10.7522 0.395654 11.26L9.75946 20.2479C10.3337 20.7993 11.2403 20.7993 11.8146 20.2479C12.4221 19.6643 12.4221 18.6923 11.8146 18.1077L3.97212 10.5788C3.82985 10.4428 3.82985 10.2174 3.97212 10.0814L11.8146 2.55254C12.4221 1.96892 12.4221 0.996923 11.8146 0.412269C11.5269 0.138115 11.1572 0 10.7875 0C10.4168 0 10.0471 0.138115 9.75946 0.412269Z"
                transform="translate(0.571289 0.573242)" fill="white" />
            </g>
          </svg>
          Back
        </button>
        <p class="title push-page__title">Details</p>
      </header>
    </ion-header>
    <ion-content>
      <div class="push-page__grid contact-details">
        <div class="contact-details__map"></div>
        <div class="contact-details__info">
          <p class="address contact-details__address">
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none">
              <rect width="14" height="18" fill="black" fill-opacity="0" />
              <circle cx="7" cy="7" r="2" stroke="#0F2355" stroke-width="2" />
              <path d="M13 7C13 7.70909 12.6633 8.69778 12.0268 9.87372C11.4062 11.0204 10.5665 12.2272 9.70845 13.3386C8.85322 14.4464 7.99555 15.4391 7.35043 16.156C7.22485 16.2955 7.1075 16.4244 7 16.5414C6.8925 16.4244 6.77515 16.2955 6.64957 16.156C6.00445 15.4391 5.14678 14.4464 4.29155 13.3386C3.43345 12.2272 2.59383 11.0204 1.97319 9.87372C1.33672 8.69778 1 7.70909 1 7C1 3.68629 3.68629 1 7 1C10.3137 1 13 3.68629 13 7Z"
                stroke="#0F2355" stroke-width="2" />
            </svg>
            <span>{{ address }}</span>
          </p>
          <div class="contact-details__grid">
            <div *ngFor="let contactItem of contactInfo" class="contact-details__item">
              <p class="contact-details__name">{{ contactItem.name }}</p>
              <p class="contact-details__value">{{ contactItem.value }}</p>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
    <ion-footer>
        <button type="button" class="btn-confirm push-page__btn" (click)="goBack()">
            <svg width="14" height="22" viewBox="0 0 14 22" fill="none">
              <path d="M12 2L3 11L12 20" stroke="white" stroke-width="3"/>
            </svg>
            Back              
        </button>
    </ion-footer>
  </div>
