<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="template-header">
    <div class="template-header__grid">
      <div class="template-header__icon">
        <svg width="33" height="31" viewBox="0 0 33 31" fill="none">
          <path d="M2.71621 12.6518L0.0075328 0.218599C-0.0306382 0.0371521 0.0802055 -0.0473274 0.250507 0.0268676L14.8737 6.08221C15.041 6.1542 15.0469 6.2879 14.884 6.37238L2.71988 12.6518H2.71621Z"
            transform="translate(1.85986)" fill="white" />
          <path d="M15.779 17.2306L19.091 0.297958C19.1402 0.0364388 18.9912 -0.0730172 18.7607 0.051131L0.175808 9.84782C-0.0598244 9.96756 -0.0583523 10.1659 0.178749 10.2893L15.7848 17.2306H15.779Z"
            transform="translate(11.2383 5.2876)" fill="white" />
          <path d="M32.8601 14.8701L0.28995 0.0325874C0.0910197 -0.0562998 -0.0337666 0.0428719 0.00807476 0.254438L2.44368 12.8132C3.01258 15.0332 3.01258 15.0332 5.92972 15.0332H8.36239V9.26216L12.5737 11.1831V15.0332H32.8242C33.0444 15.0332 33.0591 14.959 32.8609 14.8701H32.8601Z"
            transform="translate(0 15.9668)" fill="white" />
        </svg>
      </div>
      <div class="search template-header__search">
        <form class="form search__form">
          <input class="search__input" type="text" name="s" [(ngModel)]="searchInput" placeholder="Search">
          <i class="icon icon-search">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M10.1689 10.4722C11.4172 9.37357 12.2027 7.777 12.2027 6C12.2027 2.68629 9.47103 0 6.10135 0C2.73167 0 0 2.68629 0 6C0 9.31371 2.73167 12 6.10135 12C7.66402 12 9.08948 11.4223 10.1689 10.4722ZM10.1689 10.4722L15.7901 16"
                transform="translate(1.20264 1)" stroke="white" />
            </svg>
          </i>
        </form>
        <!-- Begin suggestions -->
        <div style="display: none;" class="search-suggestions">
          <div class="search-suggestions__overlay"></div>
          <div class="search-suggestions__grid">
            <header class="search-suggestions__header">Property type</header>
            <div class="search-suggestions__content">
              <p class="search-suggestions__value">Villa</p>
              <p class="search-suggestions__value">Holliday Villa</p>
            </div>
          </div>
        </div>
        <!-- End suggestions -->
      </div>
      <button type="button" class="menu-btn template-header__btn" menuToggle>
        <svg width="26" height="18" viewBox="0 0 26 18" fill="none">
          <rect width="26" height="2" rx="1" fill="white" />
          <rect width="26" height="2" rx="1" transform="translate(0 8)" fill="white" />
          <rect width="26" height="2" rx="1" transform="translate(0 16)" fill="white" />
        </svg>
        <p class="notifications menu-btn__notifications">15</p>
      </button>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="detail-page">
    <div class="list-wrapper list-wrapper_styled">
      <!-- Begin item -->
      <div class="list-item">
        <div class="list-item__header">
          <ion-slides #sliderOne pager loop>
            <!-- Begin slide -->
            <ion-slide *ngFor="let slide of carousel.imagesUrl">
              <img class="list-item__img" src="{{ slide.url }}">
            </ion-slide>
            <!-- End slide -->
          </ion-slides>
          <div class="list-item__options">
            <button type="button" class="list-item__options-btn">
              <svg width="27" height="27" viewBox="0 0 27 27" fill="none">
                <circle cx="13.5" cy="13.5" r="13" stroke="white" />
                <path d="M3 11V0M3 0L0 3M3 0L6 3" transform="translate(8 20) rotate(-90)" stroke="white" stroke-linecap="round" stroke-linejoin="round"
                />
                <path d="M3 10.5V0M3 0L0 3M3 0L6 3" transform="translate(18.5 7) rotate(90)" stroke="white" stroke-linecap="round" stroke-linejoin="round"
                />
              </svg>
            </button>
            <button type="button" class="list-item__options-btn">
              <svg width="27" height="26" viewBox="0 0 27 26" fill="none">
                <path d="M14.0245 1.46353C14.1741 1.00287 14.8259 1.00287 14.9755 1.46353L17.6432 9.67376C17.7101 9.87977 17.9021 10.0193 18.1187 10.0193L26.7515 10.0193C27.2358 10.0193 27.4372 10.6391 27.0454 10.9238L20.0613 15.998C19.8861 16.1253 19.8128 16.351 19.8797 16.557L22.5474 24.7672C22.697 25.2279 22.1698 25.6109 21.7779 25.3262L14.7939 20.252C14.6186 20.1247 14.3814 20.1247 14.2061 20.252L7.22206 25.3262C6.83021 25.6109 6.30297 25.2279 6.45264 24.7672L9.12031 16.557C9.18725 16.351 9.11392 16.1253 8.93867 15.998L1.95463 10.9238C1.56277 10.6391 1.76416 10.0193 2.24852 10.0193L10.8813 10.0193C11.0979 10.0193 11.2899 9.87977 11.3568 9.67376L14.0245 1.46353Z"
                  transform="translate(-1)" stroke="white" />
              </svg>
            </button>
          </div>
          <button (click)="goBack()" type="button" class="detail-back-btn">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
              <path d="M7 1L1 7L7 13" stroke="#0F2355" />
            </svg>
            Back
          </button>
        </div>
        <div class="list-item__info list-item__info_styled">
          <p class="list-item__label">{{ carousel.type }} · {{ carousel.note }}</p>
          <p class="list-item__title">{{ carousel.name }}</p>
          <div class="list-item__desc">
            <p class="list-item__desc-item">
              <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                <path d="M18 9.94118H18.5C18.5 9.66503 18.2761 9.44118 18 9.44118V9.94118ZM0.5 0C0.5 -0.276142 0.276142 -0.5 0 -0.5C-0.276142 -0.5 -0.5 -0.276142 -0.5 0H0.5ZM3 6.88235H2.5C2.5 7.1585 2.72386 7.38235 3 7.38235V6.88235ZM6 6.88235V7.38235H6.5V6.88235H6ZM6 5.35294H6.5C6.5 5.0768 6.27614 4.85294 6 4.85294V5.35294ZM3 5.35294V4.85294C2.72386 4.85294 2.5 5.0768 2.5 5.35294H3ZM18 7.38235C18.2761 7.38235 18.5 7.1585 18.5 6.88235C18.5 6.60621 18.2761 6.38235 18 6.38235V7.38235ZM0.5 13V9.94118H-0.5V13H0.5ZM0 10.4412H18V9.44118H0V10.4412ZM17.5 9.94118V13H18.5V9.94118H17.5ZM0.5 9.94118V0H-0.5V9.94118H0.5ZM3 7.38235H6V6.38235H3V7.38235ZM6.5 6.88235V5.35294H5.5V6.88235H6.5ZM6 4.85294H3V5.85294H6V4.85294ZM2.5 5.35294V6.88235H3.5V5.35294H2.5ZM8.25 7.38235H18V6.38235H8.25V7.38235Z"
                  transform="translate(1 1)" fill="#0F2355" fill-opacity="0.5" />
              </svg>
              {{ carousel.bedrooms }}
            </p>
            <p class="list-item__desc-item">
              <svg width="18" height="15" viewBox="0 0 18 15" fill="none">
                <g opacity="0.5">
                  <mask id="path-1-inside-1" fill="white">
                    <path d="M0 1C0 0.447715 0.447715 0 1 0H3C3.55228 0 4 0.447715 4 1H0Z" />
                  </mask>
                  <path d="M1 1H3V-1H1V1ZM4 0H0V2H4V0ZM3 1H5C5 -0.104569 4.10457 -1 3 -1V1ZM1 -1C-0.104569 -1 -1 -0.104569 -1 1H1V-1Z" transform="translate(6 3)"
                    fill="#0F2355" mask="url(#path-1-inside-1)" />
                  <path d="M0.5 1.5C0.5 0.947715 0.947715 0.5 1.5 0.5H14.5C15.0523 0.5 15.5 0.947715 15.5 1.5C15.5 3.70914 13.7091 5.5 11.5 5.5H4.5C2.29086 5.5 0.5 3.70914 0.5 1.5Z"
                    transform="translate(1 7)" stroke="#0F2355" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M0.642857 0L0 1.27273" transform="translate(3.21436 12.7273)" stroke="#0F2355" stroke-linecap="round" stroke-linejoin="round"
                  />
                  <rect x="0.25" y="0.25" width="17.5" height="0.5" rx="0.25" transform="translate(0 7)" stroke="#0F2355" stroke-width="0.5"
                  />
                  <path d="M1.74756e-08 6C1.74756e-08 6 0.000125717 4.27452 1.74756e-08 2.4C-0.000120685 0.6 0.625 0 2.5 0C4.375 0 5 1.2 5 2.4"
                    transform="translate(3 1)" stroke="#0F2355" />
                  <path d="M0.642857 0L0 1.27273" transform="translate(14.7856 12.7273) scale(-1 1)" stroke="#0F2355" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
              </svg>
              {{ carousel.bathrooms }}
            </p>
            <p class="list-item__desc-item">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
                <g opacity="0.5">
                  <path d="M0 3.5V0H3.5" transform="translate(0.5 0.5)" stroke="#0F2355" />
                  <path d="M0 3.5V0H3.5" transform="translate(9.5 0.5) rotate(90)" stroke="#0F2355" />
                  <path d="M0 3.5V0H3.5" transform="translate(9.5 9.5) rotate(180)" stroke="#0F2355" />
                  <path d="M0 3.5V0H3.5" transform="translate(0.5 9.5) rotate(-90)" stroke="#0F2355" />
                </g>
              </svg>
              {{ carousel.area }} м
              <sup>2</sup>
            </p>
          </div>
          <p class="list-item__price">{{ carousel.price }}
            <span>sar</span>
          </p>
        </div>
      </div>
      <!-- End item -->
    </div>
    <!-- Begin rating -->
    <div class="rating detail-page__rating">
      <button type="button" class="rating__btn rating__btn-positive">
        <svg width="18" height="17" viewBox="0 0 18 17" fill="none">
          <rect width="18" height="17" fill="black" fill-opacity="0" />
          <rect width="3.52597" height="11.5718" fill="black" fill-opacity="0" transform="translate(0 5.42822)" />
          <rect width="3.52597" height="11.5718" fill="black" fill-opacity="0" transform="translate(0 5.42822)" />
          <path d="M2.93829 5.42822H0.587673C0.264516 5.42822 0 5.68734 0 6.00679V16.4215C0 16.7408 0.263356 17 0.587673 17H2.93829C3.26261 17 3.52597 16.7408 3.52597 16.4215V6.00679C3.52597 5.68734 3.26141 5.42822 2.93829 5.42822Z"
            fill="#18D579" />
          <rect width="13.2987" height="15.8429" fill="black" fill-opacity="0" transform="translate(4.70117)" />
          <rect width="13.2987" height="15.8429" fill="black" fill-opacity="0" transform="translate(4.70117)" />
          <path d="M16.5327 5.42825C16.438 5.41246 12.0067 5.42825 12.0067 5.42825L12.6256 3.76567C13.0527 2.61739 12.7762 0.864086 11.5912 0.240758C11.2054 0.037782 10.6663 -0.0641561 10.2316 0.0435625C9.98239 0.105314 9.76333 0.267792 9.63276 0.485479C9.4826 0.735841 9.49811 1.02809 9.44463 1.30569C9.30904 2.00981 8.97111 2.67928 8.44781 3.18177C7.53544 4.05788 4.70117 6.58539 4.70117 6.58539V15.8429H14.4955C15.8171 15.8437 16.6832 14.3906 16.0313 13.2555C16.8083 12.7656 17.0741 11.7336 16.619 10.9412C17.396 10.4512 17.6617 9.4192 17.2067 8.62682C18.5473 7.78144 18.0991 5.6891 16.5327 5.42825Z"
            fill="#18D579" />
        </svg>
        <span>10</span>
      </button>
      <button type="button" class="rating__btn rating__btn-negative">
        <svg width="18" height="17" viewBox="0 0 18 17" fill="none">
          <rect width="18" height="17" fill="black" fill-opacity="0" transform="translate(18 17) rotate(180)" />
          <rect width="3.52597" height="11.5718" fill="black" fill-opacity="0" transform="translate(18 11.5718) rotate(180)" />
          <rect width="3.52597" height="11.5718" fill="black" fill-opacity="0" transform="translate(18 11.5718) rotate(180)" />
          <path d="M15.0617 11.5718H17.4123C17.7355 11.5718 18 11.3127 18 10.9932V0.578527C18 0.259213 17.7366 2.38419e-05 17.4123 2.38419e-05H15.0617C14.7374 2.38419e-05 14.474 0.259248 14.474 0.578527L14.474 10.9932C14.474 11.3127 14.7386 11.5718 15.0617 11.5718Z"
            fill="#D92C6A" />
          <rect width="13.2987" height="15.8429" fill="black" fill-opacity="0" transform="translate(13.2988 17) rotate(180)" />
          <rect width="13.2987" height="15.8429" fill="black" fill-opacity="0" transform="translate(13.2988 17) rotate(180)" />
          <path d="M1.46733 11.5718C1.56197 11.5875 5.99331 11.5718 5.99331 11.5718L5.37435 13.2343C4.94727 14.3826 5.22378 16.1359 6.40879 16.7592C6.79463 16.9622 7.33372 17.0642 7.76836 16.9564C8.01761 16.8947 8.23667 16.7322 8.36724 16.5145C8.5174 16.2642 8.50189 15.9719 8.55537 15.6943C8.69096 14.9902 9.02889 14.3207 9.55219 13.8182C10.4646 12.9421 13.2988 10.4146 13.2988 10.4146L13.2988 1.15711L3.50453 1.15711C2.18294 1.15635 1.31682 2.60944 1.96866 3.74447C1.19167 4.23443 0.925922 5.26644 1.38099 6.05883C0.603961 6.54879 0.33825 7.5808 0.793313 8.37318C-0.547337 9.21856 -0.0991297 11.3109 1.46733 11.5718Z"
            fill="#D92C6A" />
        </svg>
        <span>3</span>
      </button>
    </div>
    <!-- End rating -->
    <!-- Begin contacts -->
    <div class="contacts detail-page__contacts" (click)="pushPage(0)">
      <p class="contacts__title">contact details</p>
      <div class="contacts__grid">
        <div class="contacts__img">
          <img src="../../assets/imgs/contacts-user.jpg">
        </div>
        <p class="contacts__name">Alrfaei Iltmlek</p>
        <p class="contacts__value">+966507783271</p>
        <div class="contacts__icon">
          <svg width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path opacity="0.2" d="M1 1L8.5 8.5L1 16" stroke="#0F2355" stroke-width="2" />
          </svg>
        </div>
      </div>
    </div>
    <!-- End contacts -->
    <!-- Begin ads -->
    <div class="advertasing"></div>
    <!-- End ads -->
    <!-- Begin map -->
    <div class="detail-page__map">
      <div class="detail-map">
        <p class="address detail-map__address">
          <svg width="14" height="18" viewBox="0 0 14 18" fill="none">
            <rect width="14" height="18" fill="black" fill-opacity="0" />
            <circle cx="7" cy="7" r="2" stroke="#0F2355" stroke-width="2" />
            <path d="M13 7C13 7.70909 12.6633 8.69778 12.0268 9.87372C11.4062 11.0204 10.5665 12.2272 9.70845 13.3386C8.85322 14.4464 7.99555 15.4391 7.35043 16.156C7.22485 16.2955 7.1075 16.4244 7 16.5414C6.8925 16.4244 6.77515 16.2955 6.64957 16.156C6.00445 15.4391 5.14678 14.4464 4.29155 13.3386C3.43345 12.2272 2.59383 11.0204 1.97319 9.87372C1.33672 8.69778 1 7.70909 1 7C1 3.68629 3.68629 1 7 1C10.3137 1 13 3.68629 13 7Z"
              stroke="#0F2355" stroke-width="2" />
          </svg>
          <span>23246, Mraykh, Jeddah, Makkah</span>
        </p>
        <div id="detail-map" class="detail-map__grid"></div>
        <button (click)="pushPage(1)" type="button" class="detail-map__btn">Open map</button>
      </div>
    </div>
    <!-- End map -->
    <!-- Begin desc -->
    <div class="detail-page__desc">
      <div class="detail-page__section">
        <p class="detail-page__section-name">features</p>
        <div class="detail-page__section-grid detail-page__section-features">
          <img *ngFor = "let icon of icons.urls" src="{{ icon.url }}">
          <button (click)="pushPage(2)" type="button" class="detail-page__section-btn">{{ icons.iconsNumber }}+</button>
        </div>
      </div>
      <div class="detail-page__section">
        <p class="detail-page__section-name">extra features</p>
        <div class="detail-page__section-grid">
          <p>· North West Front</p>
        </div>
      </div>
      <div class="detail-page__section">
        <p class="detail-page__section-name">Streets bounds the property is: 1</p>
        <div class="detail-page__section-grid">
          <p>· North West Front</p>
        </div>
      </div>
    </div>
    <!-- End desc -->
    <!-- Begin comments -->
    <div class="comments">
      <header class="comments__header">
        <p class="comments__title">comments</p>
        <button type="button" class="comments__btn">Add comment</button>
      </header>
      <div class="comments__grid">
        <!-- Begin item -->
        <div class="comments__item">
          <header class="comments__item-header">
            <div class="comments__img">
              <img src="../../assets/imgs/comments-img.jpg">
            </div>
            <p class="comments__name">Anonymous</p>
          </header>
          <div class="comments__item-grid">
            <p>Lorem ipsum dolor sit amet, eum tota dicat at, id usu nullam perfecto abhorreant, ei harum paulo nam. Eum ex
              postea recteque, vis eu labitur mnesarchum, ius feugait detracto persecuti et. Ius consulatu pertinacia ad.
              Ex duo autem saepe appetere, an oblique eruditi inciderint usu, ex falli percipit phaedrum quo. Vel hinc meliore
              quaestio ea, tantas petentium reformidans te sit.</p>
          </div>
        </div>
        <!-- End item -->
        <!-- Begin item -->
        <div class="comments__item">
          <header class="comments__item-header">
            <div class="comments__img">
              <img src="../../assets/imgs/comments-img.jpg">
            </div>
            <p class="comments__name">Anonymous</p>
          </header>
          <div class="comments__item-grid">
            <p>Lorem ipsum dolor sit amet, eum tota dicat at, id usu nullam perfecto abhorreant, ei harum paulo nam. Eum ex
              postea recteque, vis eu labitur mnesarchum, ius feugait detracto persecuti et. Ius consulatu pertinacia ad.
              Ex duo autem saepe appetere, an oblique eruditi inciderint usu, ex falli percipit phaedrum quo. Vel hinc meliore
              quaestio ea, tantas petentium reformidans te sit.</p>
          </div>
        </div>
        <!-- End item -->
      </div>
      <footer class="comments__footer">
        <button type="button" class="comments__btn comments__btn_full">26 comments</button>
      </footer>
    </div>
    <!-- End comments -->
    <!-- Begin ads -->
    <div class="advertasing"></div>
    <!-- End ads -->
    <!-- Begin similar -->
    <div class="similar">
      <p class="similar__title">Similar properties</p>
      <div class="similar__grid">
        <ion-slides #sliderTwo class="similar__carousel" loop>
          <!-- Begin slide -->
          <ion-slide *ngFor="let similarItem of similarData" class="similar__slide">
            <div class="similar__item">
              <div class="similar__item-header">
                <ion-slides #sliderThree pager loop>
                  <!-- Begin slide -->
                  <ion-slide *ngFor="let imageUrl of similarItem.imagesUrl">
                    <img class="list-item__img" src="{{ imageUrl.url }}">
                  </ion-slide>
                  <!-- End slide -->
                </ion-slides>
              </div>
              <div class="list-item__info list-item__info_styled">
                <p class="list-item__label">{{ similarItem.type }} · {{ similarItem.note }}</p>
                <p class="list-item__title">{{ similarItem.name }}</p>
                <div class="list-item__desc">
                  <p class="list-item__desc-item">
                    <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                      <path d="M18 9.94118H18.5C18.5 9.66503 18.2761 9.44118 18 9.44118V9.94118ZM0.5 0C0.5 -0.276142 0.276142 -0.5 0 -0.5C-0.276142 -0.5 -0.5 -0.276142 -0.5 0H0.5ZM3 6.88235H2.5C2.5 7.1585 2.72386 7.38235 3 7.38235V6.88235ZM6 6.88235V7.38235H6.5V6.88235H6ZM6 5.35294H6.5C6.5 5.0768 6.27614 4.85294 6 4.85294V5.35294ZM3 5.35294V4.85294C2.72386 4.85294 2.5 5.0768 2.5 5.35294H3ZM18 7.38235C18.2761 7.38235 18.5 7.1585 18.5 6.88235C18.5 6.60621 18.2761 6.38235 18 6.38235V7.38235ZM0.5 13V9.94118H-0.5V13H0.5ZM0 10.4412H18V9.44118H0V10.4412ZM17.5 9.94118V13H18.5V9.94118H17.5ZM0.5 9.94118V0H-0.5V9.94118H0.5ZM3 7.38235H6V6.38235H3V7.38235ZM6.5 6.88235V5.35294H5.5V6.88235H6.5ZM6 4.85294H3V5.85294H6V4.85294ZM2.5 5.35294V6.88235H3.5V5.35294H2.5ZM8.25 7.38235H18V6.38235H8.25V7.38235Z"
                        transform="translate(1 1)" fill="#0F2355" fill-opacity="0.5" />
                    </svg>
                    {{ similarItem.bedrooms }}
                  </p>
                  <p class="list-item__desc-item">
                    <svg width="18" height="15" viewBox="0 0 18 15" fill="none">
                      <g opacity="0.5">
                        <mask id="path-1-inside-1" fill="white">
                          <path d="M0 1C0 0.447715 0.447715 0 1 0H3C3.55228 0 4 0.447715 4 1H0Z" />
                        </mask>
                        <path d="M1 1H3V-1H1V1ZM4 0H0V2H4V0ZM3 1H5C5 -0.104569 4.10457 -1 3 -1V1ZM1 -1C-0.104569 -1 -1 -0.104569 -1 1H1V-1Z" transform="translate(6 3)"
                          fill="#0F2355" mask="url(#path-1-inside-1)" />
                        <path d="M0.5 1.5C0.5 0.947715 0.947715 0.5 1.5 0.5H14.5C15.0523 0.5 15.5 0.947715 15.5 1.5C15.5 3.70914 13.7091 5.5 11.5 5.5H4.5C2.29086 5.5 0.5 3.70914 0.5 1.5Z"
                          transform="translate(1 7)" stroke="#0F2355" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M0.642857 0L0 1.27273" transform="translate(3.21436 12.7273)" stroke="#0F2355" stroke-linecap="round" stroke-linejoin="round"
                        />
                        <rect x="0.25" y="0.25" width="17.5" height="0.5" rx="0.25" transform="translate(0 7)" stroke="#0F2355" stroke-width="0.5"
                        />
                        <path d="M1.74756e-08 6C1.74756e-08 6 0.000125717 4.27452 1.74756e-08 2.4C-0.000120685 0.6 0.625 0 2.5 0C4.375 0 5 1.2 5 2.4"
                          transform="translate(3 1)" stroke="#0F2355" />
                        <path d="M0.642857 0L0 1.27273" transform="translate(14.7856 12.7273) scale(-1 1)" stroke="#0F2355" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </g>
                    </svg>
                    {{ similarItem.bathrooms }}
                  </p>
                  <p class="list-item__desc-item">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
                      <g opacity="0.5">
                        <path d="M0 3.5V0H3.5" transform="translate(0.5 0.5)" stroke="#0F2355" />
                        <path d="M0 3.5V0H3.5" transform="translate(9.5 0.5) rotate(90)" stroke="#0F2355" />
                        <path d="M0 3.5V0H3.5" transform="translate(9.5 9.5) rotate(180)" stroke="#0F2355" />
                        <path d="M0 3.5V0H3.5" transform="translate(0.5 9.5) rotate(-90)" stroke="#0F2355" />
                      </g>
                    </svg>
                    {{ similarItem.area }} м
                    <sup>2</sup>
                  </p>
                </div>
                <p class="list-item__price">{{ similarItem.price }}
                  <span>sar</span>
                </p>
              </div>
            </div>
          </ion-slide>
          <!-- End slide -->
        </ion-slides>
      </div>
    </div>
    <!-- End similar -->
    <!-- Begin ads -->
    <div class="advertasing"></div>
    <!-- End ads -->
    <!-- Begin qr code -->
    <div class="qr">
      <p class="qr__title">qr code</p>
      <div class="qr__grid">
        <div class="qr__wrapper">
          <img src="../../assets/imgs/qr-code.jpg">
        </div>
        <button type="button" class="qr__btn">
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none">
              <rect width="18" height="16" fill="black" fill-opacity="0" transform="translate(1 2)"/>
              <path d="M1 18L10 2L19 18H1Z" stroke="white"/>
              <path d="M10 8.28564V13.9999M10 15.1428V16.2856" stroke="white"/>
            </svg>
            Report              
        </button>
      </div>
    </div>
    <!-- End qr code -->
  </div>
</ion-content>
<ion-footer>
  <button type="button" class="contact-btn">
    <p class="contact-btn__name">
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none">
        <path d="M8.70217 15.1436L8.11137 16.5223L8.70216 15.1436C8.14209 14.9036 7.53911 14.7798 6.92977 14.7798H3C2.17157 14.7798 1.5 14.1082 1.5 13.2798V3C1.5 2.17157 2.17157 1.5 3 1.5H18C18.8284 1.5 19.5 2.17157 19.5 3V13.8934C19.5 14.383 19.1032 14.7798 18.6136 14.7798H17.7056C16.0717 14.7798 14.745 16.0956 14.7274 17.7254L8.70217 15.1436Z"
          stroke="white" stroke-width="3" />
      </svg>
      Contact the owner</p>
    <div class="contact-btn__icon">
      <svg width="24" height="26" viewBox="0 0 24 26" fill="none">
        <rect width="24" height="26" fill="black" fill-opacity="0" />
        <circle cx="19.5" cy="4.5" r="3.5" stroke="white" stroke-width="2" />
        <path d="M17 6L7 11M7 14L17 20" stroke="white" stroke-width="2" />
        <circle cx="19.5" cy="21.5" r="3.5" stroke="white" stroke-width="2" />
        <circle cx="4.5" cy="12.5" r="3.5" stroke="white" stroke-width="2" />
      </svg>
    </div>
  </button>
</ion-footer>
