.select-modal{
    &__grid{
        @include flex(row, stretch, stretch);
    }
    &__item{
        @include flex(column, center, flex-start);
        width: 50%;
        padding: 15px;
        position: relative;
        &:not(:last-child){
            border-right: 1px solid #e6e6e6;
        }
        &-name{
            margin: 0;
            font-size: 13px;
            color: rgba(#0F2355, .5);
            letter-spacing: .06em;
            text-transform: uppercase;
        }
    }
}