<!--
  Generated template for the SelectModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div class="modal select-modal value-modal">
  <div (click)="dismiss()" class="modal__overlay"></div>
  <div class="modal__grid value-modal__grid">
    <header class="select-modal__header value-modal__header">
      <button type="button" (click)="dismiss()" class="value-modal__btn value-modal__btn-cancel">Cancel</button>
      <p class="title title_styled">{{ selectModalData.name }}</p>
      <button type="button" (click)="dismiss()" class="value-modal__btn value-modal__btn-confirm">Done</button>
    </header>
    <div *ngIf="selectModalData.id == 1" class="select-modal__grid">
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Min</p>
        <div class="select-modal__item-handle">
          <ion-datetime minuteValues="0,1,2,3,4,5" placeholder="-" (ionBlur)="getMinValue($event)" displayFormat="m" [(ngModel)]="selectModalData.min"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Max</p>
        <div class="select-modal__item-handle">
          <ion-datetime minuteValues="0,1,2,3,4,5" placeholder="-" (ionBlur)="getMaxValue($event)" displayFormat="m" [(ngModel)]="selectModalData.max"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
    </div>
    <div *ngIf="selectModalData.id == 3" class="select-modal__grid">
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Min</p>
        <div class="select-modal__item-handle">
          <ion-datetime yearValues="2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018" placeholder="-" (ionBlur)="getMinValue($event)"
            displayFormat="YYYY" [(ngModel)]="selectModalData.min"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Max</p>
        <div class="select-modal__item-handle">
          <ion-datetime yearValues="2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018" placeholder="-" (ionBlur)="getMaxValue($event)"
            displayFormat="YYYY" [(ngModel)]="selectModalData.max"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
    </div>
    <div *ngIf="selectModalData.id == 2" class="select-modal__grid">
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Min</p>
        <div class="select-modal__item-handle">
          <ion-datetime minuteValues="0,1,2,3,4,5" placeholder="-" (ionBlur)="getMinValue($event)" displayFormat="m" [(ngModel)]="selectModalData.min"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Max</p>
        <div class="select-modal__item-handle">
          <ion-datetime minuteValues="0,1,2,3,4,5" placeholder="-" (ionBlur)="getMaxValue($event)" displayFormat="m" [(ngModel)]="selectModalData.max"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
    </div>
    <div *ngIf="selectModalData.id == 4" class="select-modal__grid">
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Min</p>
        <div class="select-modal__item-handle">
          <ion-datetime minuteValues="0,1,2,3,4,5" placeholder="-" (ionBlur)="getMinValue($event)" displayFormat="m" [(ngModel)]="selectModalData.min"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Max</p>
        <div class="select-modal__item-handle">
          <ion-datetime minuteValues="0,1,2,3,4,5" placeholder="-" (ionBlur)="getMaxValue($event)" displayFormat="m" [(ngModel)]="selectModalData.max"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
    </div>
    <div *ngIf="selectModalData.id == 5" class="select-modal__grid">
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Min</p>
        <div class="select-modal__item-handle">
          <ion-datetime minuteValues="0,1,2,3,4,5" placeholder="-" (ionBlur)="getMinValue($event)" displayFormat="m" [(ngModel)]="selectModalData.min"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
      <!-- Begin item -->
      <div class="select-modal__item">
        <p class="select-modal__item-name">Max</p>
        <div class="select-modal__item-handle">
          <ion-datetime minuteValues="0,1,2,3,4,5" placeholder="-" (ionBlur)="getMaxValue($event)" displayFormat="m" [(ngModel)]="selectModalData.max"></ion-datetime>
        </div>
      </div>
      <!-- End item -->
    </div>
  </div>
</div>
